<mat-card class="plain-card">
  <mat-card-header class="card-header">
      <div class="d-flex justify-content-between align-items-center w-100">
          <h6 class="text-main mb-0 fw-bold">Teacher Registration</h6>
          <button mat-icon-button class="btn-modal-close material-symbols-rounded" [mat-dialog-close]="true">
              <mat-icon>close</mat-icon>
          </button>
      </div>
  </mat-card-header>
  <mat-card-content class="card-body scrollbar">
      <div class="row">
         <h6>Personal Details</h6>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Teacher Name</mat-label>
              <input matInput>
          </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Teacher Name(Marathi)</mat-label>
              <input matInput>
          </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Teacher ID</mat-label>
              <input matInput>
          </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Gender</mat-label>
                  <mat-select>
                      <mat-option>
                          Male
                      </mat-option>
                      <mat-option>
                          Female
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Mobile No.</mat-label>
              <input matInput>
          </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email ID</mat-label>
              <input matInput>
          </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Birth Date</mat-label>
              <input matInput [matDatepicker]="topicker"
                  (click)="topicker.open()">
              <mat-datepicker-toggle matIconSuffix [for]="topicker"></mat-datepicker-toggle>
              <mat-datepicker #topicker></mat-datepicker>
          </mat-form-field>
          </div>
          <div class="col-sm-8">
            <div class="file-upload">
              <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden"
                />
              <button type="button" mat-flat-button class="btn-main" id="fileupload-button"
                 data-toggle="tooltip" data-placement="right">Upload Photo</button>
              <!-- <div class="d-flex gap-2">
                  <button type="button" mat-flat-button
                      class="bg-primary text-primary bg-opacity-10 btn-icon" matTooltip="view">
                      <mat-icon class="material-symbols-outlined">
                          preview
                      </mat-icon>
                  </button>
                  <button type="button" mat-flat-button (click)="deleteImg()" *ngIf="imgResponse"
                      class="bg-danger bg-opacity-10 text-danger btn-icon" matTooltip="delete">
                      <mat-icon class="material-symbols-outlined">
                          delete
                      </mat-icon>
                  </button>
              </div> -->
          </div>
          </div>
          </div>
          <div class="row">
            <h6>Address Details</h6>
            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>District</mat-label>
                  <mat-select>
                      <mat-option>
                          one
                      </mat-option>
                      <mat-option>
                          two
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Taluka</mat-label>
                <mat-select>
                    <mat-option>
                        one
                    </mat-option>
                    <mat-option>
                        two
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Village</mat-label>
              <mat-select>
                  <mat-option>
                      one
                  </mat-option>
                  <mat-option>
                      two
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-6 ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Current Address</mat-label>
          <textarea matInput rows="2"
          ></textarea>
      </mat-form-field>
    </div>
    <div class="col-sm-6 ">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Permanent Address</mat-label>
        <textarea matInput rows="2"
        ></textarea>
    </mat-form-field>
  </div>
          <div class="col-sm-12 text-end">
            <mat-checkbox class="example-margin">Same as Current Address</mat-checkbox>
          </div>
          </div>
          <div class="row">
            <h6>Educational Qualification</h6>
            <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Educational Qualification</mat-label>
                  <mat-select>
                      <mat-option>
                          BSC
                      </mat-option>
                      <mat-option>
                          HSC
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
          <h6>Professional Qualification</h6>
          <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>District</mat-label>
                  <mat-select>
                      <mat-option>
                          Satatr
                      </mat-option>
                      <mat-option>
                          two
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Taluka</mat-label>
                  <mat-select>
                      <mat-option>
                         Jaoli
                      </mat-option>
                      <mat-option>
                         Karad
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Cluster Name</mat-label>
                  <mat-select>
                      <mat-option>
                          INDAPUR
                      </mat-option>
                      <mat-option>
                          PURA
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Village</mat-label>
                  <mat-select>
                      <mat-option>
                         Anjangaon
                      </mat-option>
                      <mat-option>
                        Loni
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Working School Name</mat-label>
                  <mat-select>
                      <mat-option>
                         Anjangaon
                      </mat-option>
                      <mat-option>
                        Loni
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-4">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select Role</mat-label>
                  <mat-select>
                      <mat-option>
                         Anjangaon
                      </mat-option>
                      <mat-option>
                        Loni
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

      </div>
  </mat-card-content>
  <mat-card-footer class="card-footer mb-3 me-2">
      <div class="d-flex align-items-center justify-content-end w-100">
          <button mat-flat-button class="btn-main-light me-2" type="button">
              Cancel</button>
          <button mat-flat-button class="btn-main" type="submit">Submit</button>
      </div>
  </mat-card-footer>
</mat-card>
