#basic-info .img-logo {
    width: 100px;
    margin-bottom: 1rem;
}

#statistics .main-icon {
    width: 80px;
}

#statistics .sub-icon {
    width: 40px;
}

#statistics .desi-icon {
    width: 56px;
}

#statistics h3,
#statistics h5 {
    font-weight: 900;
    margin-bottom: 0px;
}

#statistics p {
    font-size: 0.85rem;
    margin-bottom: 0;
}

#statistics small {
    font-size: 0.8rem;
    margin-bottom: 0;
}