<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Master</li>
        <li class="breadcrumb-item" aria-current="page">Vishwa Seva Public School</li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<div class="row g-2">
    <div class="col-sm-3">
        <mat-card class="plain-card">
            <mat-card-content class="card-body form-container" id="basic-info">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <img src="assets/images/user.png" class="img-logo">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6 class="mb-2">Vishwa Seva Public School</h6>
                        <h6>विश्व सेवा पब्लिक स्कूल</h6>
                        <span class="badge rounded-pill bg-primary-subtle text-primary">Central School</span>
                    </div>
                </div>
                <ul class="list-group list-group-flush fs-main mb-0">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">School Type</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">School Code</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">School Management</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Classes</span>
                        <span class="form-data">1st - 8th</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">School Category</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Center</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Village</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Taluka</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">District</span>
                        <span class="form-data">Moshi</span>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-9">
        <div class="row g-2 mb-2" id="statistics">
            <div class="col-sm-5">
                <div class="card card-body border-0">
                    <div class="d-flex w-100">
                        <div class="d-flex align-items-center w-75 border-end">
                            <div class="flex-shrink-0">
                                <img src="assets/images/teacher.svg" class="main-icon">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>12</h3>
                                <p>Teachers</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2 ps-4">
                            <div class="d-flex align-items-center border-bottom pb-2">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/male.svg" class="sub-icon">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5>12</h5>
                                    <small>Male</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/female.svg" class="sub-icon">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5>12</h5>
                                    <small>Female</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card card-body border-0">
                    <div class="d-flex w-100">
                        <div class="d-flex align-items-center w-75 border-end">
                            <div class="flex-shrink-0">
                                <img src="assets/images/students.svg" class="main-icon">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>13332</h3>
                                <p>Students</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2 ps-4">
                            <div class="d-flex align-items-center border-bottom pb-2">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/male.svg" class="sub-icon">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5>122</h5>
                                    <small>Male</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/female.svg" class="sub-icon">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5>124</h5>
                                    <small>Female</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card card-body border-0">
                    <div class="text-center">
                        <img src="assets/images/designation.svg" class="desi-icon mx-auto mb-2">
                        <h5>14</h5>
                        <small>Designations</small>
                    </div>
                </div>
            </div>
        </div>
        <mat-card class="plain-card">
            <mat-card-content class="card-body p-0">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Assessment">Content 1</mat-tab>
                    <mat-tab label="Attendance">Content 2</mat-tab>
                    <mat-tab label="Teachers List">Content 2</mat-tab>
                    <mat-tab label="Student List">Content 2</mat-tab>
                    <mat-tab label="Events">Content 2</mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>