<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Master</li>
        <li class="breadcrumb-item" aria-current="page">Vishwa Seva Public School</li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<div class="row g-2">
    <div class="col-sm-3">
        <mat-card class="plain-card">
            <mat-card-content class="card-body form-container" id="basic-info">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        <img src="assets/images/user.png" class="img-logo">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6 class="mb-2">Vishwa Seva Public School</h6>
                        <h6>विश्व सेवा पब्लिक स्कूल</h6>
                        <span class="badge rounded-pill bg-primary-subtle text-primary">Central School</span>
                    </div>
                </div>
                <ul class="list-group list-group-flush fs-main mb-0">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">School Type</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">School Code</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">School Management</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Classes</span>
                        <span class="form-data">1st - 8th</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">School Category</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Center</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Village</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Taluka</span>
                        <span class="form-data">Moshi</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">District</span>
                        <span class="form-data">Moshi</span>
                    </li>
                </ul>
                <label class="form-label">Latest Event</label>
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://yellowslate.com/blog/wp-content/uploads/2022/10/Best-Schools-in-PUNE-1-1280x720.png"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://img.staticmb.com/mbcontent/images/uploads/2021/8/vastu-for-school.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://www.brookings.edu/wp-content/uploads/2020/05/empty-classroom_elementary-school-middle-school-high-school.jpg?w=1500"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-9">
        <div class="row g-2 mb-2" id="statistics">
            <div class="col-sm-5">
                <div class="card card-body border-0">
                    <div class="d-flex w-100">
                        <div class="d-flex align-items-center w-75 border-end">
                            <div class="flex-shrink-0">
                                <img src="assets/images/teacher.svg" class="main-icon">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>12</h3>
                                <p>Teachers</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2 ps-4">
                            <div class="d-flex align-items-center border-bottom pb-2">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/male.svg" class="sub-icon">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5>12</h5>
                                    <small>Male</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/female.svg" class="sub-icon">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5>12</h5>
                                    <small>Female</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card card-body border-0">
                    <div class="d-flex w-100">
                        <div class="d-flex align-items-center w-75 border-end">
                            <div class="flex-shrink-0">
                                <img src="assets/images/students.svg" class="main-icon">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3>13332</h3>
                                <p>Students</p>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2 ps-4">
                            <div class="d-flex align-items-center border-bottom pb-2">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/male.svg" class="sub-icon">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5>122</h5>
                                    <small>Male</small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="assets/images/female.svg" class="sub-icon">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h5>124</h5>
                                    <small>Female</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card card-body border-0">
                    <div class="text-center">
                        <img src="assets/images/designation.svg" class="desi-icon mx-auto mb-2">
                        <h5>14</h5>
                        <small>Designations</small>
                    </div>
                </div>
            </div>
        </div>
        <mat-card class="plain-card">
            <mat-card-content class="card-body p-0">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <!-- Attendance Analysis -->
                    <mat-tab label="Attendance Analysis">
                        <div class="row g-2">
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select Month</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select Month
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select Year</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select Year
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <img src="assets/images/chart.PNG" class="img-fluid mb-3">
                        <table mat-table [dataSource]="dataSource" class="dashboard-table">
                            <ng-container matColumnDef="saralid">
                                <th mat-header-cell *matHeaderCellDef> Saral ID </th>
                                <td mat-cell *matCellDef="let element"> {{element.saralid}} </td>
                            </ng-container>
                            <ng-container matColumnDef="studentname">
                                <th mat-header-cell *matHeaderCellDef> Student Name </th>
                                <td mat-cell *matCellDef="let element">
                                    <a routerLink="../student-profile"
                                        class="text-main fw-bold">{{element.studentname}}</a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="class">
                                <th mat-header-cell *matHeaderCellDef> Class </th>
                                <td mat-cell *matCellDef="let element"> {{element.class}} </td>
                            </ng-container>
                            <ng-container matColumnDef="gender">
                                <th mat-header-cell *matHeaderCellDef> Gender </th>
                                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                            </ng-container>
                            <ng-container matColumnDef="absentdates">
                                <th mat-header-cell *matHeaderCellDef> Absent Dates </th>
                                <td mat-cell *matCellDef="let element"> {{element.absentdates}} </td>
                            </ng-container>
                            <ng-container matColumnDef="view">
                                <th mat-header-cell *matHeaderCellDef> View </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button class="btn-icon" (click)="openAnalysisDialog()">
                                        <mat-icon class="text-dark material-symbols-rounded">
                                            visibility
                                        </mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </mat-tab>

                    <!-- Attendance -->
                    <mat-tab label="Attendance">
                        Attendance
                    </mat-tab>

                    <!-- Assessment -->
                    <mat-tab label="Assessment">
                        Assessment
                    </mat-tab>

                    <!-- Teachers List -->
                    <mat-tab label="Teachers List">
                        <div class="d-flex align-items-start gap-2 justify-content-between">
                            <div class="d-flex gap-2 w-50">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Search Name/Mobile No.</mat-label>
                                    <input matInput placeholder="Search Name/Mobile No.">
                                </mat-form-field>
                                <button mat-flat-button class="btn-main btn-icon">
                                    <mat-icon class="material-symbols-rounded">
                                        search
                                    </mat-icon>
                                </button>
                                <button mat-flat-button class="btn-main-light btn-icon">
                                    <mat-icon class="material-symbols-rounded">
                                        close
                                    </mat-icon>
                                </button>
                            </div>
                            <button mat-button [matMenuTriggerFor]="beforeMenu"
                                class="btn-icon bg-dark-subtle text-dark">
                                <mat-icon class="material-symbols-rounded">
                                    download
                                </mat-icon>
                            </button>
                            <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu">
                                <button mat-menu-item>
                                    <mat-icon class="material-symbols-rounded text-success">
                                        description
                                    </mat-icon>
                                    <span class="text-success">PDF</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon class="material-symbols-rounded text-danger">
                                        table
                                    </mat-icon>
                                    <span class="text-danger">Excel</span>
                                </button>
                            </mat-menu>
                        </div>
                        <table class="table dashboard-table">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th></th>
                                    <th>Teachers Name</th>
                                    <th>Designation</th>
                                    <th>Gender</th>
                                    <th>Class Teacher</th>
                                    <th>Classes Assigned</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <img src="assets/images/user.png" class="profile-photo">
                                    </td>
                                    <td>
                                        <a class="text-main fw-bold" routerLink="../teacher-profile">Abhijit Kambale</a>
                                    </td>
                                    <td>Headmaster</td>
                                    <td>Male</td>
                                    <td>Yes</td>
                                    <td>
                                        <div class="d-flex gap-1">
                                            <span class="class">1 - (A)</span>
                                            <span class="class">3 - (C)</span>
                                            <span class="class">4 - (B)</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-tab>

                    <!-- Student List -->
                    <mat-tab label="Student List">
                        <div class="row justify-content-between">
                            <div class="col-sm">
                                <div class="row align-items-start gx-2">
                                    <div class="col-sm-3">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Select Class</mat-label>
                                            <mat-select>
                                                <mat-option>
                                                    Select Class
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-2">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Division</mat-label>
                                            <mat-select>
                                                <mat-option>
                                                    Division
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-4">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Search Name</mat-label>
                                            <input matInput placeholder="Search Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="d-flex gap-2">
                                            <button mat-flat-button class="btn-main btn-icon">
                                                <mat-icon class="material-symbols-rounded">
                                                    search
                                                </mat-icon>
                                            </button>
                                            <button mat-flat-button class="btn-main-light btn-icon">
                                                <mat-icon class="material-symbols-rounded">
                                                    close
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <button mat-button [matMenuTriggerFor]="beforeMenu"
                                    class="btn-icon bg-dark-subtle text-dark">
                                    <mat-icon class="material-symbols-rounded">
                                        download
                                    </mat-icon>
                                </button>
                                <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu">
                                    <button mat-menu-item>
                                        <mat-icon class="material-symbols-rounded text-success">
                                            description
                                        </mat-icon>
                                        <span class="text-success">PDF</span>
                                    </button>
                                    <button mat-menu-item>
                                        <mat-icon class="material-symbols-rounded text-danger">
                                            table
                                        </mat-icon>
                                        <span class="text-danger">Excel</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                        <table class="table dashboard-table">
                            <thead>
                                <tr>
                                    <th>Saral ID</th>
                                    <th></th>
                                    <th>Students Name</th>
                                    <th>Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <img src="assets/images/user.png" class="profile-photo">
                                    </td>
                                    <td>
                                        <a class="text-main fw-bold" routerLink="../teacher-profile">Abhijit Kambale</a>
                                    </td>
                                    <td>Male</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-tab>

                    <!-- Events -->
                    <mat-tab label="Events">
                        <div class="row g-3" id="photo-gallery">
                            <div class="col-sm-4">
                                <div class="photo-wrapper">
                                    <div class="date bg-dark-subtle text-dark">
                                        12-10-2023
                                    </div>
                                    <img src="assets/images/chart.PNG" class="photo">
                                    <div class="description">
                                        This is some content from a media component. This is some content from a media
                                        component.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="photo-wrapper">
                                    <div class="date bg-dark-subtle text-dark">
                                        12-10-2023
                                    </div>
                                    <img src="assets/images/chart.PNG" class="photo">
                                    <div class="description">
                                        This is some content from a media component. This is some content from a media
                                        component.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="photo-wrapper">
                                    <div class="date bg-dark-subtle text-dark">
                                        12-10-2023
                                    </div>
                                    <img src="assets/images/chart.PNG" class="photo">
                                    <div class="description">
                                        This is some content from a media component. This is some content from a media
                                        component.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="photo-wrapper">
                                    <div class="date bg-dark-subtle text-dark">
                                        12-10-2023
                                    </div>
                                    <img src="assets/images/chart.PNG" class="photo">
                                    <div class="description">
                                        This is some content from a media component. This is some content from a media
                                        component.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="photo-wrapper">
                                    <div class="date bg-dark-subtle text-dark">
                                        12-10-2023
                                    </div>
                                    <img src="assets/images/chart.PNG" class="photo">
                                    <div class="description">
                                        This is some content from a media component. This is some content from a media
                                        component.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="photo-wrapper">
                                    <div class="date bg-dark-subtle text-dark">
                                        12-10-2023
                                    </div>
                                    <img src="assets/images/chart.PNG" class="photo">
                                    <div class="description">
                                        This is some content from a media component. This is some content from a media
                                        component.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="photo-wrapper">
                                    <div class="date bg-dark-subtle text-dark">
                                        12-10-2023
                                    </div>
                                    <img src="assets/images/chart.PNG" class="photo">
                                    <div class="description">
                                        This is some content from a media component. This is some content from a media
                                        component.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>