<mat-card class="modal-card">
  <mat-card-header class="modal-header">
      <div class="d-flex justify-content-between align-items-center w-100">
          <h6 class="text-main mb-0 fw-bold">Outward Items</h6>
          <button mat-icon-button class="btn-modal-close material-symbols-rounded" [mat-dialog-close]="true">
              <mat-icon>close</mat-icon>
          </button>
      </div>
  </mat-card-header>
  <mat-card-content class="modal-body">
      <div class="row">
          <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Category</mat-label>
                  <mat-select>
                      <mat-option>
                          district
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Sub Category</mat-label>
                  <mat-select>
                      <mat-option>
                          taluka
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-6">
              <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Item</mat-label>
                  <mat-select>
                      <mat-option>
                          Center
                      </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-6">
            <div class="d-flex">
             <div class="form-label me-2">Opening Stock:</div>
             <div class="form-label">0</div>
             </div>
          </div>
          <div class="col-sm-6 ">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Units</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="col-sm-6 ">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Sell Price</mat-label>
              <input matInput>
          </mat-form-field>
      </div>

      <div class="col-sm-6 ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Sell Date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

      <div class="col-sm-6 ">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Assign To</mat-label>
          <input matInput>
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="w-100">
          <mat-label>Remark</mat-label>
          <textarea matInput rows="2"
          ></textarea>
      </mat-form-field>
  </div>
          <div class="col-sm-6">
            <div class="file-upload border rounded-2 p-1">
              <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                  data-placement="right">
                  Upload Photo/Documents
              </button>
              <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden" />

              <div class="d-flex gap-2">
                  <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon"
                      matTooltip="view">
                      <mat-icon class="material-symbols-rounded">
                          preview
                      </mat-icon>
                  </button>
                  <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon"
                      matTooltip="delete">
                      <mat-icon class="material-symbols-rounded">
                          delete
                      </mat-icon>
                  </button>
              </div>
          </div>

          </div>

      </div>
  </mat-card-content>
  <mat-card-footer class="card-footer mb-3 me-2">
      <div class="d-flex align-items-center justify-content-end w-100">
          <button mat-flat-button class="btn-main-light me-2" type="button">
              Cancel</button>
          <button mat-flat-button class="btn-main" type="submit">Submit</button>
      </div>
  </mat-card-footer>
</mat-card>

