<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'Lables.Student' |translate}}</li>
        <li class="breadcrumb-item" aria-current="page">Sanket Abhijit Kambale</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Lables.Profile' |translate}}</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-content class="card-body form-container">
        <div class="row">
            <div class="col-sm-3 border-end">
                <div class="text-center">
                    <img src="assets/images/user.png" class="student-photo">
                    <h5>{{'Lables.StudentProfile' |translate}}</h5>
                    <h5 class="text-secondary">{{'Lables.StudentUser' |translate}}</h5>
                </div>
                <ul class="list-group list-group-flush mb-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.SaralID' |translate}}</span>
                        <span class="form-data">13542</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.FatherName' |translate}}</span>
                        <span class="form-data">Abhijit Rajaram Kambale</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.MotherName' |translate}}</span>
                        <span class="form-data">Rajani Abhijit Kambale</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.DateofBirth' |translate}}</span>
                        <span class="form-data">15-05-2012</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.Gender' |translate}}</span>
                        <span class="form-data">Male</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.Religion' |translate}}</span>
                        <span class="form-data">Hindu</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.Caste' |translate}}</span>
                        <span class="form-data">Maratha</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.Category' |translate}}</span>
                        <span class="form-data">Maratha</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.kendra' |translate}}</span>
                        <span class="form-data">Pune Center</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.village' |translate}}</span>
                        <span class="form-data">Pune</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.taluka' |translate}}</span>
                        <span class="form-data">Haveli</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.district' |translate}}</span>
                        <span class="form-data">Pune</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">{{'Lables.AadhaarNo' |translate}}</span>
                        <span class="form-data">
                            <a href="#" class="text-main fw-bold">
                                1236 5479 8535
                            </a>
                        </span>
                    </li>
                </ul>
                <table class="table dashboard-table">
                    <thead>
                        <tr>
                            <th>{{'Lables.GuardianName' |translate}}</th>
                            <th>{{'Lables.Relations' |translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0">Yogesh Kambale</p>
                                <small class="text-muted">(9876543210)</small>
                            </td>
                            <td>Brother</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">Yogita Kambale</p>
                                <small class="text-muted">(9786541230)</small>
                            </td>
                            <td>Sister</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-9">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="{{'Lables.Education' |translate}}">
                        <div class="card card-body mb-2">
                            <div class="row g-3">
                                <div class="col-sm-8">
                                    <div class="form-label mb-0">{{'Lables.CurrentSchool' |translate}}</div>
                                    <div class="form-data">Shri. Shailesh Primary School</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label mb-0">{{'Lables.Class' |translate}}</div>
                                    <div class="form-data">2nd - (A)</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-label mb-0">{{'Lables.Center' |translate}}</div>
                                    <div class="form-data">Shailesh Center</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-label mb-0">{{'Lables.village' |translate}}</div>
                                    <div class="form-data">Haveli</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-label mb-0">{{'Lables.taluka' |translate}}</div>
                                    <div class="form-data">Haveli</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-label mb-0">{{'Lables.district' |translate}}</div>
                                    <div class="form-data">Pune</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header fs-main bg-transparent">{{'Lables.PreviousEducationDetails' |translate}}</div>
                            <div class="card-body">
                                <table class="table dashboard-table mb-0">
                                    <thead>
                                        <tr>
                                            <th>{{'Lables.SrNo' |translate}}</th>
                                            <th>{{'Lables.SchoolName' |translate}}</th>
                                            <th>{{'Lables.Class' |translate}}</th>
                                            <th>{{'Lables.Year' |translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Shri. Shailesh Primary School</td>
                                            <td>1st - (A)</td>
                                            <td>2021-2022</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{'Lables.Evaluation' |translate}}"></mat-tab>
                    <mat-tab label="{{'Lables.Attendance' |translate}}">
                        <div class="row justify-content-end g-2">
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Lables.SelectMonth' |translate}}</mat-label>
                                    <mat-select>
                                        <mat-option>
                                          {{'Lables.SelectMonth' |translate}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'Lables.SelectYear' |translate}}</mat-label>
                                    <mat-select>
                                        <mat-option>
                                           {{'Lables.SelectYear' |translate}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="table-responsive scrollbar mb-3">
                            <table class="table dashboard-table mb-0">
                                <thead>
                                    <tr>
                                        <th>{{'Lables.Month-Year' |translate}}</th>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                        <th>10</th>
                                        <th>11</th>
                                        <th>12</th>
                                        <th>13</th>
                                        <th>14</th>
                                        <th>15</th>
                                        <th>16</th>
                                        <th>17</th>
                                        <th>18</th>
                                        <th>19</th>
                                        <th>20</th>
                                        <th>21</th>
                                        <th>22</th>
                                        <th>23</th>
                                        <th>24</th>
                                        <th>25</th>
                                        <th>26</th>
                                        <th>27</th>
                                        <th>28</th>
                                        <th>29</th>
                                        <th>30</th>
                                        <th>31</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>April-2023</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="weekend">W</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="absent">A</td>
                                        <td class="present">P</td>
                                        <td class="weekend">W</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="absent">A</td>
                                        <td class="weekend">W</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="weekend">W</td>
                                        <td class="present">P</td>
                                        <td class="absent">A</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="present">P</td>
                                        <td class="weekend">W</td>
                                        <td class="present">P</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card card-body">
                            <div class="row form-container text-center">
                                <div class="col-sm-3">
                                    <h4 class="text-primary fw-bold mb-1">31</h4>
                                    <div class="form-label mb-0">{{'Lables.TotalDays' |translate}}</div>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="present fw-bold mb-1">24</h4>
                                    <div class="form-label mb-0">{{'Lables.TotalPresent' |translate}}</div>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="absent fw-bold mb-1">3</h4>
                                    <h4 class="form-label mb-0">{{'Lables.TotalAbsent' |translate}}</h4>
                                </div>
                                <div class="col-sm-3">
                                    <h4 class="weekend fw-bold mb-1">4</h4>
                                    <h4 class="form-label mb-0">{{'Lables.Weekends' |translate}}</h4>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="{{'Lables.Transfer' |translate}}">
                        <div class="card">
                            <div class="card-header bg-transparent fs-main fw-bold text-main">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>{{'Lables.TransferHistory' |translate}}</span>
                                    <button class="btn bg-danger-subtle text-danger btn-sm fs-main fw-bold"
                                        (click)="openTransferDialog()">{{'Lables.Transfer' |translate}}</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table dashboard-table mb-0 table-bordered">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">{{'Lables.SrNo' |translate}}.</th>
                                            <th colspan="2" class="text-center">{{'Lables.Location' |translate}}</th>
                                            <th colspan="2" class="text-center">{{'Lables.Location' |translate}}</th>
                                            <th colspan="2" class="text-center">{{'Lables.Duration' |translate}}</th>
                                            <th rowspan="2">{{'Lables.Status' |translate}}</th>
                                            <th rowspan="2">{{'Lables.Reason' |translate}}</th>
                                        </tr>
                                        <tr>
                                            <th>{{'Lables.From' |translate}}</th>
                                            <th>{{'Lables.To' |translate}}</th>
                                            <th>{{'Lables.From' |translate}}</th>
                                            <th>{{'Lables.To' |translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <div class="fw-bold">Shri. Shailesh Primary School</div>
                                                <small class="text-secondary">Village, Taluka, District</small>
                                            </td>
                                            <td>
                                                <div class="fw-bold">Shri. Rajesh Primary School</div>
                                                <small class="text-secondary">Village, Taluka, District</small>
                                            </td>
                                            <td>01-05-2012</td>
                                            <td>04-04-2015</td>
                                            <td>
                                                <span
                                                    class="badge bg-success-subtle text-success fw-bold fs-main">Active</span>
                                                <span
                                                    class="badge bg-primary-subtle text-primary fw-bold fs-main">Retired</span>
                                                <span
                                                    class="badge bg-danger-subtle text-danger fw-bold fs-main">Suspended</span>
                                            </td>
                                            <td>
                                                Due to Health issue
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card-content>
</mat-card>
