<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Student</li>
        <li class="breadcrumb-item" aria-current="page">Sanket Abhijit Kambale</li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-content class="card-body form-container">
        <div class="row">
            <div class="col-sm-3 border-end">
                <div class="text-center">
                    <img src="assets/images/user.png" class="student-photo">
                    <h5>Sanket Abhijit Kambale</h5>
                    <h5 class="text-secondary">(संकेत अभिजित कांबळे)</h5>
                </div>
                <ul class="list-group list-group-flush mb-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Saral ID</span>
                        <span class="form-data">13542</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Father Name</span>
                        <span class="form-data">Abhijit Rajaram Kambale</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Mother Name</span>
                        <span class="form-data">Rajani Abhijit Kambale</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Date of Birth</span>
                        <span class="form-data">15-05-2012</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Gender</span>
                        <span class="form-data">Male</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Religion</span>
                        <span class="form-data">Hindu</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Caste</span>
                        <span class="form-data">Maratha</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Category</span>
                        <span class="form-data">Maratha</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Kendra</span>
                        <span class="form-data">Pune Center</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Village</span>
                        <span class="form-data">Pune</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Taluka</span>
                        <span class="form-data">Haveli</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">District</span>
                        <span class="form-data">Pune</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Aadhar No.</span>
                        <span class="form-data">
                            <a href="#" class="text-main fw-bold">
                                1236 5479 8535
                            </a>
                        </span>
                    </li>
                </ul>
                <table class="table dashboard-table">
                    <thead>
                        <tr>
                            <th>Guardian Name</th>
                            <th>Relation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0">Yogesh Kambale</p>
                                <small class="text-muted">(9876543210)</small>
                            </td>
                            <td>Brother</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">Yogita Kambale</p>
                                <small class="text-muted">(9786541230)</small>
                            </td>
                            <td>Sister</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-9">
                fsdf
            </div>
        </div>
    </mat-card-content>
</mat-card>