<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Student</li>
        <li class="breadcrumb-item" aria-current="page">Sanket Abhijit Kambale</li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-content class="card-body form-container">
        <div class="row">
            <div class="col-sm-3 border-end">
                <div class="text-center">
                    <img src="assets/images/user.png" class="student-photo">
                    <h5>Sanket Abhijit Kambale</h5>
                    <h5 class="text-secondary">(संकेत अभिजित कांबळे)</h5>
                </div>
                <ul class="list-group list-group-flush mb-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Saral ID</span>
                        <span class="form-data">13542</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Father Name</span>
                        <span class="form-data">Abhijit Rajaram Kambale</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Mother Name</span>
                        <span class="form-data">Rajani Abhijit Kambale</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Date of Birth</span>
                        <span class="form-data">15-05-2012</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Gender</span>
                        <span class="form-data">Male</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Religion</span>
                        <span class="form-data">Hindu</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Caste</span>
                        <span class="form-data">Maratha</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Category</span>
                        <span class="form-data">Maratha</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Kendra</span>
                        <span class="form-data">Pune Center</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Village</span>
                        <span class="form-data">Pune</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Taluka</span>
                        <span class="form-data">Haveli</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">District</span>
                        <span class="form-data">Pune</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label mb-0">Aadhar No.</span>
                        <span class="form-data">
                            <a href="#" class="text-main fw-bold">
                                1236 5479 8535
                            </a>
                        </span>
                    </li>
                </ul>
                <table class="table dashboard-table">
                    <thead>
                        <tr>
                            <th>Guardian Name</th>
                            <th>Relation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0">Yogesh Kambale</p>
                                <small class="text-muted">(9876543210)</small>
                            </td>
                            <td>Brother</td>
                        </tr>
                        <tr>
                            <td>
                                <p class="mb-0">Yogita Kambale</p>
                                <small class="text-muted">(9786541230)</small>
                            </td>
                            <td>Sister</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-9">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="Education">
                        <div class="card card-body mb-2">
                            <div class="row g-3">
                                <div class="col-sm-8">
                                    <div class="form-label mb-0">Current School</div>
                                    <div class="form-data">Shri. Shailesh Primary School</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-label mb-0">Class</div>
                                    <div class="form-data">2nd - (A)</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-label mb-0">Center</div>
                                    <div class="form-data">Shailesh Center</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-label mb-0">Village</div>
                                    <div class="form-data">Haveli</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-label mb-0">Taluka</div>
                                    <div class="form-data">Haveli</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-label mb-0">District</div>
                                    <div class="form-data">Pune</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header fs-main bg-transparent">Previous Education Details</div>
                            <div class="card-body">
                                <table class="table dashboard-table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>School Name</th>
                                            <th>Class</th>
                                            <th>Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Shri. Shailesh Primary School</td>
                                            <td>1st - (A)</td>
                                            <td>2021-2022</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Evaluation">Evaluation</mat-tab>
                    <mat-tab label="Attendance">

                    </mat-tab>
                    <mat-tab label="Transfer">
                        <div class="card">
                            <div class="card-header bg-transparent fs-main fw-bold text-main">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Transfer History</span>
                                    <button class="btn bg-danger-subtle text-danger btn-sm fs-main fw-bold"
                                        (click)="openTransferDialog()">Transfer</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table dashboard-table mb-0 table-bordered">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Sr. No.</th>
                                            <th colspan="2" class="text-center">Location</th>
                                            <th colspan="2" class="text-center">Duration</th>
                                            <th rowspan="2">Status</th>
                                            <th rowspan="2">Reason</th>
                                        </tr>
                                        <tr>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>From</th>
                                            <th>To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                <div class="fw-bold">Shri. Shailesh Primary School</div>
                                                <small class="text-secondary">Village, Taluka, District</small>
                                            </td>
                                            <td>
                                                <div class="fw-bold">Shri. Rajesh Primary School</div>
                                                <small class="text-secondary">Village, Taluka, District</small>
                                            </td>
                                            <td>01-05-2012</td>
                                            <td>04-04-2015</td>
                                            <td>
                                                <span
                                                    class="badge bg-success-subtle text-success fw-bold fs-main">Active</span>
                                                <span
                                                    class="badge bg-primary-subtle text-primary fw-bold fs-main">Retired</span>
                                                <span
                                                    class="badge bg-danger-subtle text-danger fw-bold fs-main">Suspended</span>
                                            </td>
                                            <td>
                                                Due to Health issue
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </mat-card-content>
</mat-card>