<div mat-dialog-title class="modal-header">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h6 class="text-main mb-0 fw-bold">Add Event</h6>
        <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
            <mat-icon class="material-symbols-rounded">close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content class="modal-body scrollbar form-container">
    <div class="row gx-2 align-items-end">
        <div class="col-sm-6">
            <label class="form-label">Event Name</label>
            <mat-form-field appearance="outline" class="w-100">
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <label class="form-label">Event Name (Marathi)</label>
            <mat-form-field appearance="outline" class="w-100">
                <input matInput>
            </mat-form-field>
        </div>

        <div class="col-sm-6">
            <label class="form-label">Event Date</label>
            <mat-form-field appearance="outline" class="w-100">
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-sm-6">
            <div class="file-upload border rounded-2 p-1 margin-control">
                <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                    data-placement="right">
                    Upload Photo
                </button>
                <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden"
                #uploadGallImage multiple />
                <!-- <div class="d-flex gap-2">
                    <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                        matTooltip="view">
                        <mat-icon class="material-symbols-rounded">
                            preview
                        </mat-icon>
                    </button>
                    <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                        matTooltip="delete">
                        <mat-icon class="material-symbols-rounded">
                            delete
                        </mat-icon>
                    </button>
                </div> -->
            </div>
        </div>
            <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                    <textarea matInput rows="3" placeholder="Description"></textarea>
                </mat-form-field>
            </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
    <div class="d-flex align-items-center justify-content-end w-100 gap-2">
        <button mat-flat-button class="btn-main-light" type="button">Cancel</button>
        <button mat-flat-button class="btn-main" type="submit">Submit</button>
    </div>
</mat-dialog-actions>
