<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Master</li>
        <li class="breadcrumb-item active" aria-current="page">Add Student</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-0 fw-bold">Student Registration</h6>
            <button class="btn btn-back" type="button">
                <span class="material-symbols-rounded">
                    keyboard_double_arrow_left
                </span>
                Back
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="card-body pb-0 form-container">
        <div class="row w-100 g-2">
            <div class="col-sm-2">
          <label class="form-label">District</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>Amravati</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Taluka</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>Amravati</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
              <label class="form-label">Kendra</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>Amravati</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Village</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>Anjangaon</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-3">
              <label class="form-label">School</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>zp Aurangabad</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Standard</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>1st</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-sm-12">
            <h6 class="section-head">Student Details</h6>
        </div>
        <div class="row g-2">
            <div class="col-sm-4">
              <label class="form-label">First Name</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
              <label class="form-label">Middle Name</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
              <label class="form-label">Last Name</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
              <label class="form-label">First Name (Marathi)</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
              <label class="form-label">Middle Name (Marathi)</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
              <label class="form-label">Last Name (Marathi)</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Birth Date</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput [matDatepicker]="topicker" (click)="topicker.open()">
                    <mat-datepicker-toggle matIconSuffix [for]="topicker"></mat-datepicker-toggle>
                    <mat-datepicker #topicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Gender</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>Male</mat-option>
                        <mat-option>Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <div class="file-upload border rounded-2 p-1">
                    <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                        data-placement="right">
                        Upload Photo
                    </button>
                    <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden" />

                    <div class="d-flex gap-2">
                        <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                            matTooltip="view">
                            <mat-icon class="material-symbols-rounded">
                                preview
                            </mat-icon>
                        </button>
                        <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                            matTooltip="delete">
                            <mat-icon class="material-symbols-rounded">
                                delete
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Religion</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>Hindu</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Category</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>xyz</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Caste</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option>xyz</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Saral ID</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
              <label class="form-label">Aadhaar No.</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <div class="file-upload border rounded-2 p-1">
                    <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                        data-placement="right">
                        Upload Aadhaar Card
                    </button>
                    <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden" />

                    <div class="d-flex gap-2">
                        <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                            matTooltip="view">
                            <mat-icon class="material-symbols-rounded">
                                preview
                            </mat-icon>
                        </button>
                        <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                            matTooltip="delete">
                            <mat-icon class="material-symbols-rounded">
                                delete
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h6 class="section-head">Guardian Details</h6>
        </div>
        <div class="row g-2">
            <div class="col-sm">
              <label class="form-label">Name</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm">
              <label class="form-label">Name (Marathi)</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Mobile No.</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
              <label class="form-label">Relations</label>
                <mat-form-field appearance="outline" class="w-100 me-2">
                    <mat-select>
                        <mat-option>Mother</mat-option>
                        <mat-option>Father</mat-option>
                        <mat-option>Brother</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-auto">
                <button mat-flat-button class="btn-main btn-icon" [routerLink]="['../add-student']">
                    <mat-icon class="material-symbols-rounded">add</mat-icon>
                </button>
            </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="dashboard-table">
            <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
            </ng-container>
            <ng-container matColumnDef="Mobile">
                <th mat-header-cell *matHeaderCellDef> Mobile No.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Mobile}} </td>
            </ng-container>
            <ng-container matColumnDef="Realtion">
                <th mat-header-cell *matHeaderCellDef> Realtion
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Realtion
                    }} </td>
            </ng-container>
            <ng-container matColumnDef="IsHead">
                <th mat-header-cell *matHeaderCellDef> Is Head
                </th>
                <td mat-cell *matCellDef="let element"><mat-checkbox class="example-margin"></mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action
                </th>
                <td mat-cell *matCellDef="let element let i=index">
                    <button mat-icon-button>
                        <mat-icon class="text-danger material-symbols-rounded">
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-card-actions class="card-footer" align="end">
        <div class="d-flex justify-content-end align-items-center w-100">
            <button type="button" mat-flat-button class="btn-main-light me-2">Clear</button>
            <button mat-flat-button type="submit" class="btn-main">Submit</button>
        </div>
    </mat-card-actions>
</mat-card>
