<div id="sidebar">
    <div class="sidebar-header">
        <img src="assets/images/logo1.png" class="img-fluid">
        <!-- <button mat-icon-button class="btn-icon btn-sidebar-close" (click)="onCloseSidebar()">
            <span class="material-symbols-rounded">
                close
            </span>
        </button> -->
    </div>
    <div class="sidebar-body scrollbar">
        <ul class="menu">
            <li>
                <a routerLink="dashboard" routerLinkActive="active">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/dashboard.svg">
                        {{'Lables.Dashboard' |translate}}
                    </div>
                </a>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#collapseMaster" role="button" aria-expanded="false"
                    aria-controls="collapseMaster">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/master.svg">
                        {{'Lables.Master' |translate}}
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseMaster">
                    <div class="submenu">
                        <div class="list-group list-group-flush">
                            <a routerLink="designation-master" routerLinkActive="active"
                                class="list-group-item list-group-item-action active" aria-current="true">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.designationMaster' |translate}}
                            </a>
                            <a routerLink="school-registration" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.SchoolRegistration' |translate}}
                            </a>
                            <a routerLink="teacher-registration" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.TeacherRegistration' |translate}}
                            </a>
                            <a routerLink="student-registration" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.StudentRegistration' |translate}}
                            </a>
                            <a routerLink="office-user-registration" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.OfficeUserRegistration' |translate}}
                            </a>
                            <a routerLink="other-registration" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.OtherRegistration' |translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" href="#collapseReport" role="button" aria-expanded="false"
                    aria-controls="collapseReport">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/reports.svg">
                        {{'Lables.Report' |translate}}
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseReport">
                    <div class="submenu">
                        <div class="list-group">
                            <a routerLink="student-report" routerLinkActive="active"
                                class="list-group-item list-group-item-action active" aria-current="true">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                               {{'Lables.StudentReport' |translate}}
                            </a>
                            <a routerLink="officer-report" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.OfficerReport' |translate}}
                            </a>
                            <a routerLink="school-report" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.SchoolReport' |translate}}
                            </a>
                            <a routerLink="#" routerLinkActive="active" class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.OfficerVisitReport' |translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#collapseAssetMgmt" role="button" aria-expanded="false"
                    aria-controls="collapseAssetMgmt">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/assets.svg">
                        {{'Lables.AssetManagement' |translate}}
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseAssetMgmt">
                    <div class="submenu">
                        <div class="list-group">
                            <a routerLink="category" routerLinkActive="active"
                                class="list-group-item list-group-item-action active" aria-current="true">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.Category' |translate}}
                            </a>
                            <a routerLink="sub-category" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.SubCategory' |translate}}
                            </a>
                            <a routerLink="item" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.Item' |translate}}
                            </a>
                            <a routerLink="inward-item" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                               {{'Lables.InwardItem' |translate}}
                            </a>
                            <a routerLink="outward-item" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                               {{'Lables.OutwardItem' |translate}}
                            </a>
                            <a routerLink="store-stock-report" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.StoreStockReport' |translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#collapseAttendance" role="button" aria-expanded="false"
                    aria-controls="collapseAttendance">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/attendance.svg">
                        {{'Lables.Attendance' |translate}}
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseAttendance">
                    <div class="submenu">
                        <div class="list-group">
                            <a routerLink="tasksheet" routerLinkActive="active"
                                class="list-group-item list-group-item-action active" aria-current="true">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                               {{'Lables.TaskSheet' |translate}}
                            </a>
                            <a routerLink="holiday-master" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                               {{'Lables.HolidayMaster' |translate}}
                            </a>
                            <a routerLink="attendance-report" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.AttendanceReport' |translate}}
                            </a>
                            <a routerLink="attendance-approval" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                               {{'Lables.AttendanceApproval' |translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#collapseCCTV" role="button" aria-expanded="false"
                    aria-controls="collapseCCTV">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/cctv.svg">
                        CCTV Registration
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseCCTV">
                    <div class="submenu">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                CCTV Location Registration
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                CCTV
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#collapseSettings" role="button" aria-expanded="false"
                    aria-controls="collapseSettings">
                    <div class="menu-item">
                        <img src="assets/images/sidebar-icons/settings.svg">
                        {{'Lables.Setting' |translate}}
                    </div>
                    <span class="dropdown-toggle"></span>
                </a>
                <div class="collapse" id="collapseSettings">
                    <div class="submenu">
                        <div class="list-group">
                            <!-- <a routerLink="teacher-transfer" routerLinkActive="active"
                              class="list-group-item list-group-item-action">
                              <mat-icon class="material-symbols-rounded">
                                  east
                              </mat-icon>
                              Teacher Transfer
                          </a> -->
                            <!-- <a routerLink="student-transfer" routerLinkActive="active"
                              class="list-group-item list-group-item-action">
                              <mat-icon class="material-symbols-rounded">
                                  east
                              </mat-icon>
                              Student Transfer
                          </a> -->
                            <a routerLink="standard-subject" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.AddStandardSubject' |translate}}
                            </a>
                            <a routerLink="assessment-configuration" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.AssessmentConfiguration' |translate}}
                            </a>
                            <a routerLink="registration-approval" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                               {{'Lables.RegistrationApproval' |translate}}
                            </a>
                            <a routerLink="event-registration" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.EventRegistration' |translate}}
                            </a>
                            <a routerLink="page-right-access" routerLinkActive="active"
                                class="list-group-item list-group-item-action active" aria-current="true">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                               {{'Lables.PageRightAccess' |translate}}
                            </a>
                            <a routerLink="help-access" routerLinkActive="active"
                                class="list-group-item list-group-item-action">
                                <mat-icon class="material-symbols-rounded">
                                    east
                                </mat-icon>
                                {{'Lables.Help' |translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
