.student-details{
  background-color: var(--main-light-color);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.student-details img{
  width: 100px;
  height: 100px;
  border-radius: 1rem;
}
#chart{
  width: 720px;
}
.mat-column-englishFullName{
  color: blue;
}
.small
{
  size: 5px;
}
