<div class="login-wrapper">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-8">
                <div class="login-box">
                    <div class="row">
                        <div class="col-sm-6" id="left-side">
                            <img src="assets/images/login.svg">
                        </div>
                        <div class="col-sm-6" id="right-side">
                            <div class="logo">
                                <img src="assets/images/logo.jpg">
                            </div>
                            <h4>LOGIN</h4>
                            <p class="mb-4">Please log in to your account.</p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Username">
                                <mat-icon matPrefix class="material-symbols-rounded">person</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" type="password">
                                <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                            </mat-form-field>

                            <div class="row g-2 mb-2">
                                <div class="col-sm">
                                    <div id="captcha">

                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <button mat-flat-button class="btn-icon btn-main">
                                        <mat-icon class="material-symbols-rounded">
                                            autorenew
                                        </mat-icon>
                                    </button>
                                </div>
                                <div class="col-sm">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Captcha</mat-label>
                                        <input matInput placeholder="Captcha">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <button mat-flat-button class="btn-main w-50">LOGIN</button>
                                <a href="#" class="text-main">Forgot Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>