.login-wrapper {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #077947 0%, #077947 50%, #E6EAF3 50%, #E6EAF3 100%);
}

.login-wrapper .login-box {
    background: linear-gradient(to right, #077947 0%, #077947 50%, #E6EAF3 50%, #E6EAF3 100%);
    box-shadow: 0px 0px 20px #455E8F33;
    border-radius: 15px;
}

.login-wrapper .login-box #left-side {
    backdrop-filter: blur(9px) saturate(180%);
    -webkit-backdrop-filter: blur(9px) saturate(180%);
    background-color: rgba(37, 152, 102, 0.963);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url('../../../assets/images/login-bg.svg');
}

.login-wrapper .login-box #right-side {
    padding: 50px;
    position: relative;
}

.login-wrapper .login-box #right-side .logo {
    padding: 5px;
    display: inline-flex;
    position: absolute;
    text-align: center;
    top: -40px;
    left: 40%;
    background-color: #fff;
}

.login-wrapper .login-box #right-side .logo img {
    width: 80px;
}

#captcha {
    background-image: url('../../../assets/images/captcha_bg.jpg');
    border-radius: 0.375rem;
    height: 36px;
}