<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Asset Management
        </li>
        <li class="breadcrumb-item active" aria-current="page">Outward Item</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-lg-flex d-block justify-content-between align-items-center w-100">
            <h6 class="text-main mb-2 mb-lg-0 fw-bold">
                Item Outward List</h6>
                <div class="d-flex align-items-center gap-2">
                  <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn-icon bg-dark-subtle text-dark">
                      <span class="material-symbols-rounded">
                          download
                      </span>
                  </button>
                  <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu">
                      <button mat-menu-item>
                          <span class="material-symbols-rounded text-success">
                              description
                          </span>
                          <span class="text-success">PDF</span>
                      </button>
                      <button mat-menu-item>
                          <span class="material-symbols-rounded text-danger">
                              table
                          </span>
                          <span class="text-danger">Excel</span>
                      </button>
                  </mat-menu>
                <button mat-flat-button class="btn-main" (click)="AddOutward()">
                    <mat-icon class="material-symbols-rounded">add</mat-icon>
                    <span>
                        Add Inward Item
                    </span>
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card class="plain-card">
      <mat-card-header class="card-header-control form-container pt-0">
        <div class="row align-items-end w-100 justify-content-start g-2 mb-3">
                <div class="col-sm-2">
                  <label class="form-label">District</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>Amravati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <label class="form-label">Taluka</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>Amravati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <label class="form-label">Kendra</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>Amravati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <label class="form-label">Village</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>Amravati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <label class="form-label">School</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>Amravati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <label class="form-label">Category</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>Amravati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <label class="form-label">Sub Category</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>Amravati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <label class="form-label">Item</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>Amravati</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-sm-auto">
                  <div class="d-flex gap-2">
                      <button mat-flat-button class="btn-main btn-icon">
                          <span class="material-symbols-rounded">
                              search
                          </span>
                      </button>
                      <button mat-flat-button class="btn-main-light btn-icon">
                          <span class="material-symbols-rounded">
                              close
                          </span>
                      </button>
                  </div>
              </div>
            </div>

        </mat-card-header>
        <mat-card-content class="card-body pt-0">
            <table mat-table [dataSource]="dataSource" class="dashboard-table">
                <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
                </ng-container>


                <ng-container matColumnDef="Category">
                    <th mat-header-cell *matHeaderCellDef> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
                </ng-container>


                <ng-container matColumnDef="SubCategory">
                    <th mat-header-cell *matHeaderCellDef> Sub Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.SubCategory}} </td>
                </ng-container>


                <ng-container matColumnDef="Item">
                    <th mat-header-cell *matHeaderCellDef> Item </th>
                    <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
                </ng-container>


                <ng-container matColumnDef="Units">
                    <th mat-header-cell *matHeaderCellDef> Units
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Units}} </td>
                </ng-container>


                <ng-container matColumnDef="PurchaseDate">
                    <th mat-header-cell *matHeaderCellDef> Sell Date
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.PurchaseDate}} </td>
                </ng-container>


                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef> Sell Price

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
                </ng-container>


                <ng-container matColumnDef="AssignTo">
                    <th mat-header-cell *matHeaderCellDef> Assign To

                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.AssignTo}} </td>
                </ng-container>


                <ng-container matColumnDef="Remark">
                    <th mat-header-cell *matHeaderCellDef> Remark
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.Remark}} </td>
                </ng-container>


                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action
                    </th>
                    <td mat-cell *matCellDef="let element let i=index">
                        <div class="d-flex gap-2">
                            <ng-container>
                                <button mat-icon-button>
                                    <mat-icon class="text-main material-symbols-rounded">
                                        edit_square
                                    </mat-icon>
                                </button>
                            </ng-container>
                            <ng-container>
                                <button mat-icon-button>
                                    <mat-icon class="text-danger material-symbols-rounded">
                                        delete
                                    </mat-icon>
                                </button>
                            </ng-container>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>

    </mat-card>
