<div mat-dialog-title class="modal-header">
  <div class="d-flex justify-content-between align-items-center w-100">
      <h6 class="text-main mb-0 fw-bold">Change Password</h6>
      <button mat-icon-button class="btn-modal-close material-symbols-rounded" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content class="modal-body">
  <div class="row">
      <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter Current Password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <span class="material-symbols-rounded">{{hide ? 'visibility_off' : 'visibility'}}</span>
              </button>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Enter New Password</mat-label>
              <input matInput [type]="hide1 ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide1">
                  <span class="material-symbols-rounded">{{hide1 ? 'visibility_off' : 'visibility'}}</span>
              </button>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Confirm Password</mat-label>
              <input matInput [type]="hide2 ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide2">
                  <span class="material-symbols-rounded">{{hide2 ? 'visibility_off' : 'visibility'}}</span>
              </button>
          </mat-form-field>
      </div>
      <div class="col-sm-6">
          <div class="notes">
              <p class="fw-bold text-dark">Passwords must contains:</p>
              <ul class="text-secondary">
                  <li>At least 8-15 Characters long</li>
                  <li>At least 1 Lowercase Characters (a-z)</li>
                  <li>At least 1 Uppercase Characters (A-Z)</li>
                  <li>At least 1 Digits (0-9)</li>
                  <li>At least 1 Special Characters (*$@#)</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div mat-dialog-actions class="modal-footer">
  <div class="d-flex gap-2">
      <button mat-flat-button mat-dialog-close class="btn-main-light">Cancel</button>
      <button mat-flat-button class="btn-main">Change Password</button>
  </div>
</div>
