<div mat-dialog-title class="modal-header">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h6 class="text-main mb-0 fw-bold">{{'Lables.changePassword' | translate}}</h6>
        <button mat-icon-button class="btn-modal-close material-symbols-rounded" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" #formDirective="ngForm">
    <div mat-dialog-content class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Lables.enterCurrentPassword' | translate}}</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword"
                        (blur)="clearSpace()" maxlength="9" >
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <span class="material-symbols-rounded">{{hide ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                    <mat-error *ngIf="f['oldPassword'].hasError('pattern')">{{'Lables.pleaseEnterValidCurrentPassowrd' | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Lables.enterNewPassword' | translate}}</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="newPassword"
                        (blur)="clearSpace()" maxlength="9">
                    <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <span class="material-symbols-rounded">{{hide1 ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                    <mat-error *ngIf="f['newPassword'].errors">
                        <span class="text-danger" *ngIf="f['newPassword'].hasError('minlength') ||
                                f['newPassword'].hasError('hasNumber') ||
                                f['newPassword'].hasError('hasCapitalCase') ||
                                f['newPassword'].hasError('hasSmallCase') ||
                                f['newPassword'].hasError('hasSpecialCharacters')
                                ">
                          {{
                          f['newPassword'].hasError('minlength') ? (webStorage.languageFlag == 'EN' ? 'Please Enter Minimum 9 Characters' : 'कृपया किमान ९ अक्षरे प्रविष्ट करा' ):
                          f['newPassword'].hasError('hasNumber') ? (webStorage.languageFlag == 'EN' ? 'Please Enter at least 1 number' : 'कृपया किमान १ नंबर प्रविष्ट करा') :
                          f['newPassword'].hasError('hasCapitalCase') ?
                          (webStorage.languageFlag == 'EN' ? 'Please Enter at least 1 Letter in Capital Case' : 'कृपया किमान १ अक्षर कॅपिटल केसमध्ये प्रविष्ट करा')
                          :
                          f['newPassword'].hasError('hasSmallCase') ?
                          (webStorage.languageFlag == 'EN' ? 'Please Enter at least 1 Letter in Small Case' : 'कृपया किमान १ अक्षर स्मॉल केसमध्ये प्रविष्ट करा') : (webStorage.languageFlag == 'EN' ? 'Please Enter at least 1 Special Character' : 'कृपया किमान 1 विशेष वर्ण प्रविष्ट करा')
                          }}
                        </span>
                      </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Lables.confirmPassword' | translate}}</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" (blur)="clearSpace()" maxlength="9"
                        formControlName="confirmPassword" (paste)="disablePaste($event)">
                    <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <span class="material-symbols-rounded">{{hide2 ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                    <mat-error *ngIf="f['confirmPassword'].hasError('pattern')">{{'Lables.pleaseEnterValidConfirmPassword' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <div class="notes">
                    <p class="fw-bold text-dark ms-3 mb-2">{{'Lables.passwordsmustcontains' | translate}}:</p>
                    <ul class="text-secondary">
                        <li class="small">{{'Lables.Atleast8Characterslong' | translate}}</li>
                        <li class="small">{{'Lables.Atleast1LowercaseCharacters(a-z)' | translate}}</li>
                        <li class="small">{{'Lables.Atleast1UpercaseCharacters(A-Z)' | translate}}</li>
                        <li class="small">{{'Lables.Atleast1Digits(0-9)' | translate}}</li>
                        <li class="small">{{'Lables.Atleast1SpecialCharacters(*$@#)' | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="modal-footer" align="end">
        <div class="d-flex gap-2">
            <button type="button" mat-flat-button mat-dialog-close class="btn-main-light">{{'Lables.clear' | translate}}</button>
            <button type="submit" mat-flat-button class="btn-main">{{'Lables.changePassword' | translate}}</button>
        </div>
    </div>
</form>
