<form [formGroup]="userRegForm">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">{{'Lables.master' | translate}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{'Lables.AddOfficeUser' | translate}}</li>
        </ol>
    </nav>
    <mat-card class="plain-card">
        <mat-card-header class="card-header">
            <div class="d-flex justify-content-between align-items-center w-100">
                <h6 class="text-main mb-0 fw-bold">{{'Lables.AddOfficeUser' | translate}}</h6>
                <button class="btn btn-back" type="button" [routerLink]="['/office-user-registration']">
                    <mat-icon class="material-symbols-rounded">
                        keyboard_double_arrow_left
                    </mat-icon>
                    {{'Lables.Back' | translate}}
                </button>
            </div>
        </mat-card-header>
        <mat-card-content class="card-body pb-0 form-container">
            <h6 class="section-head">{{'Lables.UserRegistration' | translate}}</h6>
            <div class="row form-container gx-2">
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.Level' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="designationLevelId" (selectionChange)="getDesignationByLevelId();">
                            <mat-option *ngFor="let level of levelArray" [value]="level.id">{{webStorage.languageFlag
                                =='mr-IN' ? level.m_DesignationLevel: level.designationLevel}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div class="col-sm-3">
                    <label class="form-label">{{'Lables.NGO' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select>
                            <mat-option>
                                Staff
                            </mat-option>
                            <mat-option>
                                NGO
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.district' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="districtId" (selectionChange)="getTaluka();">
                            <mat-option *ngFor="let district of districtArray"
                                [value]="district.id">{{webStorage.languageFlag =='mr-IN' ? district.m_District:
                                district.district}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.taluka' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="talukaId" (selectionChange)="getCenter(); getBit();">
                            <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{webStorage.languageFlag
                                =='mr-IN' ? taluka.m_Taluka: taluka.taluka}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.Designation(Officer)' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="designationId">
                            <mat-option *ngFor="let desigLevel of desigLevelArray"
                                [value]="desigLevel.id">{{webStorage.languageFlag
                                =='mr-IN' ? desigLevel.m_Designation: desigLevel.designation}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="userRegForm.value.designationId == 11">
                  <label class="form-label">{{'Lables.contactNo(BEOOffice)' |translate}}</label>
                  <mat-form-field appearance="outline" class="w-100">
                      <input matInput>
                  </mat-form-field>
              </div>
              <div class="col-sm-3" *ngIf="userRegForm.value.designationId == 11">
                <label class="form-label">{{'Lables.emailId(BEOOffice)' |translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput>
                </mat-form-field>
            </div>
                <div class="col-sm-3" *ngIf="userRegForm.value.designationId == 18">
                    <label class="form-label">{{'Lables.kendra' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="centerId">
                            <mat-option *ngFor="let center of centerArray" [value]="center.id">{{webStorage.languageFlag
                                =='mr-IN' ? center.m_Center: center.center}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="userRegForm.value.designationId == 18">
                    <label class="form-label">{{'Lables.contactNo(kendra)' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="kendraMobileNo" (keypress)="validation.noFirstSpaceAllow($event); validation.onlyDigits($event);" maxlength="10">
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="userRegForm.value.designationId == 18">
                    <label class="form-label">{{'Lables.EmailId(kendra)' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="kendraEmailId" (keypress)="validation.noFirstSpaceAllow($event); validation.emailRegex($event);" maxlength="20">
                    </mat-form-field>
                </div>
                <div class="col-sm-3" *ngIf="userRegForm.value.designationId == 13">
                    <label class="form-label">{{'Lables.NameofBit' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="bitId">
                            <mat-option *ngFor="let bit of bitArray" [value]="bit.id">{{webStorage.languageFlag
                                =='mr-IN' ? bit.m_BitName: bit.bitName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.Name' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="name" (keypress)="validation.noFirstSpaceAllow($event); validation.alphabetsWithSpaces($event);" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.Name(Marathi)' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="m_Name" (keypress)="validation.noFirstSpaceAllow($event); validation.unicodeMarathiValidation($event);" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.MobileNo' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="mobileNo" (keypress)="validation.noFirstSpaceAllow($event); validation.onlyDigits($event);" maxlength="10">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.EmailID' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput formControlName="emailId" (keypress)="validation.noFirstSpaceAllow($event); validation.emailRegex($event);" maxlength="20">
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.BirthDate' | translate}}</label>
                  <div class="col-sm-12">
                    <div class="d-flex gap-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput [matDatepicker]="topicker" (click)="topicker.open()" (dateChange)="CalculateAge()" formControlName="dob">
                        <mat-datepicker-toggle matIconSuffix [for]="topicker"></mat-datepicker-toggle>
                        <mat-datepicker #topicker></mat-datepicker>
                    </mat-form-field>
                      <!-- <label class="form-label">{{'Lables.EmailID' |translate}}</label> -->
                      <mat-form-field appearance="outline" class="w-100" *ngIf="age > 0">
                        <span class="me-1">{{age}}</span><span>Years</span>
                      </mat-form-field>
                    </div>
                </div>
                </div>
                <div class="col-sm-3">
                    <label class="form-label">{{'Lables.Gender' | translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="genderId">
                            <mat-option>Male</mat-option>
                            <mat-option>Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <div class="file-upload border rounded-2 p-1 margin-control mt-4">
                        <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                            data-placement="right" (click)="uploadImage.click()" [disabled]="uploadImageFlag">
                            {{'Lables.UploadPhoto' | translate}}
                        </button>
                        <input type="file" formControlName="uploadImage" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden"
                            #uploadImage (change)="imgUpload($event)" />

                        <div class="d-flex gap-2">
                            <button type="button" mat-flat-button
                                class="bg-primary-subtle text-primary btn-icon btn-action" matTooltip="view"
                                *ngIf="uploadImg" (click)="viewImg()">
                                <mat-icon class="material-symbols-rounded">
                                    preview
                                </mat-icon>
                            </button>
                            <button type="button" mat-flat-button
                                class="bg-danger-subtle text-danger btn-icon btn-action" matTooltip="delete"
                                *ngIf="uploadImg" (click)="clearImg()">
                                <mat-icon class="material-symbols-rounded">
                                    delete
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <label class="form-label">{{'Lables.Address' |translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <textarea formControlName="address" matInput rows="2" (keypress)="validation.noFirstSpaceAllow($event); validation.alphabetsWithSpacesWithSomeSpecChar($event);" maxlength="100"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-sm-3 mt-4 file-upload border rounded-2 p-1 margin-control">
                    <div class="d-flex align-items-center gap-2">
                        <mat-checkbox class="example-margin" formControlName="isHeadMaster" (change)="onchangeCheckBox($event)">{{'Lables.Headmaster' |translate}}</mat-checkbox>
                    </div>
                </div>
            </div>
            <div *ngIf="f['isHeadMaster'].value == true">
                <div class="row gx-2 align-items-end">
                    <div class="col-sm-12">
                        <h6 class="section-head">{{'Lables.AddressDetails' | translate}}</h6>
                    </div>

                    <!-- <div class="col-sm-4">
                        <label class="form-label">{{'Lables.district' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select>
                                <mat-option>one</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">{{'Lables.taluka' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select>
                                <mat-option>one</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">{{'Lables.village' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select>
                                <mat-option>one</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div class="col-sm-6 mt-1">
                        <label class="form-label">{{'Lables.CurrentAddress' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <textarea matInput rows="2" formControlName="currentAddress" (keypress)="validation.noFirstSpaceAllow($event); validation.alphabetsWithSpacesWithSomeSpecChar($event);" maxlength="100"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">{{'Lables.PermanentAddress' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <textarea matInput rows="2" formControlName="permentAddress" (keypress)="validation.noFirstSpaceAllow($event); validation.alphabetsWithSpacesWithSomeSpecChar($event);" maxlength="100"></textarea>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-sm-6">
                        <div class="col-sm-12">
                            <label class="form-label w-100">
                                <div class="d-flex justify-content-between w-100 align-items-center">
                                    <span>{{'Lables.PermanentAddress' | translate}}</span>
                                    <mat-checkbox class="example-margin">{{'Lables.SameAsCurrentAdd' | translate}}</mat-checkbox>
                                </div>
                            </label>
                            <mat-form-field appearance="outline" class="w-100">
                                <textarea matInput rows="3"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4 w-100">
                            <label class="form-label">{{'Lables.district' | translate}}</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select>
                                    <mat-option>one</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4 w-100">
                            <label class="form-label">{{'Lables.taluka' | translate}}</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select>
                                    <mat-option>one</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4 w-100">
                            <label class="form-label">{{'Lables.village' | translate}}</label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select>
                                    <mat-option>one</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-3 marginbtm file-upload border rounded-2 p-1 margin-control">
                    <mat-checkbox class="example-margin text-end" [checked]="checked" [disabled]="!f['currentAddress'].value" (change)="addSameAddress($event)">
                        {{'Lables.SameAsCurrentAdd' | translate}}</mat-checkbox>
                </div>
                <div class="row gx-2 align-items-end">
                    <div class="col-sm-12">
                        <h6 class="section-head">{{'Lables.HighestEducation' | translate}}</h6>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.EducationalQualification' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="educationQualificationId">
                                <mat-option *ngFor="let educ of educationQualArr" [value]="educ.id">{{webStorage.languageFlag =='mr-IN' ? educ.value:
                                    educ.value}}</mat-option>
                                <!-- <mat-option>S. S. C.</mat-option>
                                <mat-option>H. S. C.</mat-option>
                                <mat-option>Diploma</mat-option>
                                <mat-option>Graduate</mat-option>
                                <mat-option>Post-Graduate</mat-option>
                                <mat-option>Doctorate
                                </mat-option>
                                <mat-option>
                                    Post-Doctorate
                                </mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.Stream' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="streamId">
                                <mat-option *ngFor="let stream of streamArr" [value]="stream.id">{{webStorage.languageFlag =='mr-IN' ? stream.value:
                                    stream.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.DegreeSpecilization' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="degreeSpecializationId">
                                <mat-option *ngFor="let degree of degreeArr" [value]="degree.id">{{webStorage.languageFlag =='mr-IN' ? degree.value:
                                    degree.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.Board' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="boardId">
                                <mat-option>
                                    Pune University
                                </mat-option>
                                <mat-option>
                                    Solapur University
                                </mat-option>
                                <mat-option>
                                    Kolhapur University
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.DegreeUniversity' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="universityId">
                                <mat-option>
                                    Pune University
                                </mat-option>
                                <mat-option>
                                    Solapur University
                                </mat-option>
                                <mat-option>
                                    Kolhapur University
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.Marks/Percentage' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput (keypress)="validation.noFirstSpaceAllow($event);" maxlength="5" formControlName="percentage">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.PassingYear' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput formControlName="passingYear" (keypress)="validation.noFirstSpaceAllow($event); validation.onlyDigits($event);" maxlength="4">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row gx-2 form-container align-items-end">
                    <div class="col-sm-12">
                        <h6 class="section-head">{{'Lables.ProfessionalDetails' | translate}}</h6>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.district' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="t_DistrictId" (selectionChange)="getTaluka('Taluka');">
                                <mat-option *ngFor="let district of districtArray"
                                [value]="district.id">{{webStorage.languageFlag =='mr-IN' ? district.m_District:
                                district.district}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.taluka' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="t_TalukaId" (selectionChange)="getCenter('Center');">
                                <mat-option *ngFor="let taluka of talukaArraySecond" [value]="taluka.id">{{webStorage.languageFlag
                                    =='mr-IN' ? taluka.m_Taluka: taluka.taluka}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.kendra' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="t_CenterId" (selectionChange)="getVillage();">
                                <mat-option *ngFor="let center of centerArraySecond" [value]="center.id">{{webStorage.languageFlag
                                    =='mr-IN' ? center.m_Center: center.center}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.village' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="t_VillageId" (selectionChange)="getAllSchool();">
                                <mat-option *ngFor="let village of villageArray" [value]="village.id">{{webStorage.languageFlag
                                    =='mr-IN' ? village.m_Village: village.village}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.UDISECode' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput (keypress)="validation.noSpacesAtStart($event); validation.onlyDigits($event);" maxlength="20">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.WorkingSchoolName' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="t_SchoolId">
                                <mat-option *ngFor="let school of schoolArr" [value]="school.id">{{webStorage.languageFlag
                                    =='mr-IN' ? school.m_SchoolName: school.schoolName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.SelectRole' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select formControlName="t_RoleId">
                                <mat-option *ngFor="let role of roleArr" [value]="role.id">
                                    {{webStorage.languageFlag =='mr-IN' ? role.value: role.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <label class="form-label">{{'Lables.DateOfJoining' | translate}}</label>
                      <mat-form-field appearance="outline" class="w-100">
                          <input matInput [matDatepicker]="topicker" formControlName="joiningDate">
                          <mat-datepicker-toggle matIconSuffix [for]="topicker"></mat-datepicker-toggle>
                          <mat-datepicker #topicker></mat-datepicker>
                      </mat-form-field>
                  </div>
                    <div class="col-sm-3 marginbtm file-upload border rounded-2 p-1 margin-control">
                        <mat-checkbox class="example-margin" formControlName="isClassTeacher">{{'Lables.IsClassTeacher' |
                            translate}}</mat-checkbox>
                    </div>
                    <div class="col-sm-3" *ngIf="f['isClassTeacher'].value == true">
                        <label class="form-label">{{'Lables.Class' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select>
                                <mat-option> 1st</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3" *ngIf="f['isClassTeacher'].value == true">
                        <label class="form-label">{{'Lables.division' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select>
                                <mat-option> 1st</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">{{'Lables.AssignedClasses' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select>
                                <mat-option> <mat-checkbox class="example-margin">1st</mat-checkbox></mat-option>
                                <mat-option> <mat-checkbox class="example-margin">2nd</mat-checkbox></mat-option>
                                <mat-option> <mat-checkbox class="example-margin">3rd</mat-checkbox></mat-option>
                                <mat-option> <mat-checkbox class="example-margin">4th</mat-checkbox></mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-dialog-actions class="modal-footer pt-0">
            <div class="d-flex align-items-center justify-content-end w-100 gap-2">
                <button mat-flat-button class="btn-main-light" type="button" [routerLink]="['/office-user-registration']">{{'Lables.cancel' |translate}}</button>
                <button mat-flat-button class="btn-main" type="submit">{{'Lables.Submit'|translate}}</button>
            </div>
        </mat-dialog-actions>
    </mat-card>
</form>
