<div mat-dialog-title class="modal-header">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h6 class="text-main mb-0 fw-bold">School Registration</h6>
        <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
            <mat-icon class="material-symbols-rounded">close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content class="modal-body scrollbar form-container">
    <div class="row g-2">
        <div class="col-sm-4">
          <label class="form-label">District</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        district
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
          <label class="form-label">Taluka</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        taluka
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <div class="mt-1">
                <mat-checkbox>School is Kendra?</mat-checkbox>
            </div>
        </div>
        <div class="col-sm-4">
          <label class="form-label">Kendra</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        Center
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
          <label class="form-label">Village</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        Anjangaon
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
          <label class="form-label">School Type</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        schoolType
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="form-label">School Name</label>
            <mat-form-field appearance="outline" class="w-100">
                <textarea matInput rows="2"></textarea>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="form-label">School Name (Marathi)</label>
            <mat-form-field appearance="outline" class="w-100">
                <textarea matInput rows="2"></textarea>
            </mat-form-field>
        </div>
        <div class="col-sm-6 ">
          <label class="form-label">School Code</label>
            <mat-form-field appearance="outline" class="w-100">
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="form-label">School Management</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        one
                    </mat-option>
                    <mat-option>
                        two
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
          <label class="form-label">Lowest Class</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        1
                    </mat-option>
                    <mat-option>
                        2
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-3">
          <label class="form-label">Highest Class</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        2
                    </mat-option>
                    <mat-option>
                        3
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
          <label class="form-label">School Category</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option>
                        Primary
                    </mat-option>
                    <mat-option>
                        Primary with Upper Primary
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-sm-6">
          <label class="form-label">UDISE Code</label>
            <mat-form-field appearance="outline" class="w-100">
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <div class="mt-1">
                <mat-radio-group>
                    <mat-radio-button value="1">Rural</mat-radio-button>
                    <mat-radio-button value="2">Urban</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="file-upload border rounded-2 p-1">
            <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                data-placement="right">
                Upload Profile Photo
            </button>
            <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden" />

            <div class="d-flex gap-2">
                <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                        preview
                    </mat-icon>
                </button>
                <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                        delete
                    </mat-icon>
                </button>
            </div>
        </div>

        </div>
        <div class="col-sm-6">
          <div class="file-upload border rounded-2 p-1">
            <button type="button" mat-flat-button class="btn" id="fileupload-button" data-toggle="tooltip"
                data-placement="right">
                Upload School Documents
            </button>
            <input type="file" accept=".jpg,.jpeg,.jfif,.png,.hvec" id="real-file" hidden="hidden" />

            <div class="d-flex gap-2">
                <button type="button" mat-flat-button class="bg-primary-subtle text-primary btn-icon btn-action"
                    matTooltip="view">
                    <mat-icon class="material-symbols-rounded">
                        preview
                    </mat-icon>
                </button>
                <button type="button" mat-flat-button class="bg-danger-subtle text-danger btn-icon btn-action"
                    matTooltip="delete">
                    <mat-icon class="material-symbols-rounded">
                        delete
                    </mat-icon>
                </button>
            </div>
        </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
    <div class="d-flex align-items-center justify-content-end w-100 gap-2">
        <button mat-flat-button class="btn-main-light" type="button">Cancel</button>
        <button mat-flat-button class="btn-main" type="submit">Submit</button>
    </div>
</mat-dialog-actions>
