<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'Lables.Master' |translate}}</li>
        <li class="breadcrumb-item" aria-current="page">Abhijit Kambale</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Lables.Profile' |translate}}</li>
    </ol>
</nav>
<div class="alert alert-danger" role="alert">
    <h6 class="alert-heading">{{'Lables.Suspended' |translate}}</h6>
    <p class="mb-0 fs-main">
        {{'Lables.SuspendedError' |translate}}
    </p>
</div>
<div class="alert alert-primary" role="alert">
    <h6 class="alert-heading">{{'Lables.Retired' |translate}}</h6>
    <p class="mb-0 fs-main">
      {{'Lables.RetiredError' |translate}}
    </p>
</div>
<mat-card class="plain-card">
    <mat-card-content class="card-body">
        <div class="row form-container">
            <div class="col-sm-3 border-end">
                <div class="d-flex justify-content-end mb-2">
                    <span class="badge bg-success-subtle text-success fw-bold fs-main">{{'Lables.Active' |translate}}</span>
                    <span class="badge bg-primary-subtle text-primary fw-bold fs-main">{{'Lables.Retired' |translate}}</span>
                    <span class="badge bg-danger-subtle text-danger fw-bold fs-main">{{'Lables.Suspended' |translate}}</span>
                </div>
                <div class="text-center">
                    <img src="assets/images/user.png" class="img-logo">
                    <h6 class="mb-2 text-main fw-bold fs-5">{{'Lables.StudentProfile' |translate}}</h6>
                    <h6 class="text-main fw-bold fs-5 mb-0">{{'Lables.StudentUser' |translate}}</h6>
                    <span class="text-secondary fs-main">{{'Lables.Headmaster' |translate}}</span>
                </div>
                <ul class="list-group list-group-flush fs-main mb-0">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">{{'Lables.ID' |translate}}</span>
                        <span class="form-data">#6541</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">{{'Lables.Gender' |translate}}</span>
                        <span class="form-data">Male</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">{{'Lables.MobileNo' |translate}}</span>
                        <span class="form-data">9876543210</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">{{'Lables.EmailID' |translate}}</span>
                        <span class="form-data">abhijit.kambale@gmail.com</span>
                    </li>
                    <li class="list-group-item d-flex px-0 flex-column">
                        <span class="form-label">{{'Lables.PermanentAddress' |translate}}</span>
                        <span class="form-data">Flat No. 33, Building no. 6, Mokashi Nagar, Aurangabad</span>
                    </li>
                    <li class="list-group-item d-flex px-0 flex-column">
                        <span class="form-label">{{'Lables.CurrentAddress' |translate}}</span>
                        <span class="form-data">Flat No. 33, Building no. 6, Mokashi Nagar, Aurangabad</span>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-header bg-transparent fs-main fw-bold text-main">{{'Lables.EducationalDetails' |translate}}</div>
                    <div class="card-body">
                        <table class="table dashboard-table mb-0">
                            <thead>
                                <tr>
                                    <th>{{'Lables.SrNo' |translate}}</th>
                                    <th>{{'Lables.Standard' |translate}}</th>
                                    <th>{{'Lables.Stream/Subject' |translate}}</th>
                                    <th>{{'Lables.Board/University' |translate}}</th>
                                    <th>{{'Lables.Marks/Percentage' |translate}}</th>
                                    <th>{{'Lables.Class/Grade' |translate}}</th>
                                    <th>{{'Lables.PassingYear' |translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>M. A.</td>
                                    <td>Marathi</td>
                                    <td>Pune University</td>
                                    <td>67.25%</td>
                                    <td>First Class</td>
                                    <td>2012</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>B. A.</td>
                                    <td>Marathi</td>
                                    <td>Pune University</td>
                                    <td>77.25%</td>
                                    <td>First Class</td>
                                    <td>2010</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>12</td>
                                    <td>Arts</td>
                                    <td>Pune Board</td>
                                    <td>77.25%</td>
                                    <td>First Class Distinction</td>
                                    <td>2007</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>10</td>
                                    <td>Marathi</td>
                                    <td>Pune Board</td>
                                    <td>56.25%</td>
                                    <td>Second Class</td>
                                    <td>2005</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-transparent fs-main fw-bold text-main">{{'Lables.ProfessionalDetails' |translate}}</div>
                    <div class="card-body">
                        <div class="row gy-2">
                            <div class="col-sm-7">
                                <label class="form-label mb-0">{{'Lables.WorkingAt' |translate}}</label>
                                <div class="form-data">Shri. Manjunath Primary & Secondary School, Aurangabad</div>
                            </div>
                            <div class="col-sm-5">
                                <label class="form-label mb-0">{{'Lables.DateOfJoining' |translate}}</label>
                                <div class="form-data">10-02-2015</div>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label mb-0">{{'Lables.Cluster' |translate}}</label>
                                <div class="form-data">Aurangabad</div>
                            </div>
                            <div class="col-sm-2">
                                <label class="form-label mb-0">{{'Lables.taluka' |translate}}</label>
                                <div class="form-data">Aurangabad</div>
                            </div>
                            <div class="col-sm-2">
                                <label class="form-label mb-0">{{'Lables.village' |translate}}</label>
                                <div class="form-data">Aurangabad</div>
                            </div>
                            <div class="col-sm-5">
                                <label class="form-label mb-0">{{'Lables.Teachingfor' |translate}}</label>
                                <div class="form-data">
                                    <div class="d-flex gap-2">
                                        <div class="class">1 - (A)</div>
                                        <div class="class">3 - (C)</div>
                                        <div class="class">5 - (B)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-transparent fs-main fw-bold text-main">{{'Lables.Experience' |translate}}</div>
                    <div class="card-body">
                        <table class="table dashboard-table mb-0">
                            <thead>
                                <tr>
                                  <th>{{'Lables.SrNo' |translate}}</th>
                                    <th>{{'Lables.SchoolName' |translate}}</th>
                                    <th>{{'Lables.Designation' |translate}}</th>
                                    <th>{{'Lables.Cluster' |translate}}</th>
                                    <th>{{'Lables.Location' |translate}}</th>
                                    <th>{{'Lables.WorkedFrom-To' |translate}}</th>
                                    <th>{{'Lables.Duration' |translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Shri. Shailesh Primary School</td>
                                    <td>Primary Teacher</td>
                                    <td>1st Cluster</td>
                                    <td>Baramati, Pune</td>
                                    <td>01-05-2012 - 04-04-2015</td>
                                    <td>3 Years</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-transparent fs-main fw-bold text-main">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{'Lables.ExitHistory' |translate}}</span>
                            <button class="btn bg-danger-subtle text-danger btn-sm fs-main fw-bold"
                                (click)="openTransferDialog()">{{'Lables.Exit' |translate}}</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table dashboard-table mb-0 table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2">{{'Lables.SrNo' |translate}}</th>
                                    <th colspan="2" class="text-center">{{'Lables.Location' |translate}}</th>
                                    <th colspan="2" class="text-center">{{'Lables.Duration' |translate}}</th>
                                    <th rowspan="2">{{'Lables.Status' |translate}}</th>
                                    <th rowspan="2">{{'Lables.Reason' |translate}}</th>
                                </tr>
                                <tr>
                                    <th>{{'Lables.From' |translate}}</th>
                                    <th>{{'Lables.To' |translate}}To</th>
                                    <th>{{'Lables.From' |translate}}</th>
                                    <th>{{'Lables.To' |translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="fw-bold">Shri. Shailesh Primary School</div>
                                        <small class="text-secondary">Village, Taluka, District</small>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Shri. Rajesh Primary School</div>
                                        <small class="text-secondary">Village, Taluka, District</small>
                                    </td>
                                    <td>01-05-2012</td>
                                    <td>04-04-2015</td>
                                    <td>
                                        <span class="badge bg-success-subtle text-success fw-bold fs-main">Active</span>
                                        <span
                                            class="badge bg-primary-subtle text-primary fw-bold fs-main">Retired</span>
                                        <span
                                            class="badge bg-danger-subtle text-danger fw-bold fs-main">Suspended</span>
                                    </td>
                                    <td>
                                        Due to Health issue
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
