<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Master</li>
        <li class="breadcrumb-item" aria-current="page">Abhijit Kambale</li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>
<div class="alert alert-danger" role="alert">
    <h6 class="alert-heading">Suspended</h6>
    <p class="mb-0 fs-main">
        This teacher have been suspended from his duty due to unlawful conduct in school.
    </p>
</div>
<div class="alert alert-primary" role="alert">
    <h6 class="alert-heading">Retired</h6>
    <p class="mb-0 fs-main">
        This teacher have been retired from his duty.
    </p>
</div>
<mat-card class="plain-card">
    <mat-card-content class="card-body">
        <div class="row form-container">
            <div class="col-sm-3 border-end">
                <div class="d-flex justify-content-end mb-2">
                    <span class="badge bg-success-subtle text-success fw-bold fs-main">Active</span>
                    <span class="badge bg-primary-subtle text-primary fw-bold fs-main">Retired</span>
                    <span class="badge bg-danger-subtle text-danger fw-bold fs-main">Suspended</span>
                </div>
                <div class="text-center">
                    <img src="assets/images/user.png" class="img-logo">
                    <h6 class="mb-2 text-main fw-bold fs-5">Abhijit Rajaram Kambale</h6>
                    <h6 class="text-main fw-bold fs-5 mb-0">अभिजित राजाराम कांबळे</h6>
                    <span class="text-secondary fs-main">(Headmaster)</span>
                </div>
                <ul class="list-group list-group-flush fs-main mb-0">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">ID</span>
                        <span class="form-data">#6541</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Gender</span>
                        <span class="form-data">Male</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Mobile No.</span>
                        <span class="form-data">9876543210</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Email ID</span>
                        <span class="form-data">abhijit.kambale@gmail.com</span>
                    </li>
                    <li class="list-group-item d-flex px-0 flex-column">
                        <span class="form-label">Permanant Address</span>
                        <span class="form-data">Flat No. 33, Building no. 6, Mokashi Nagar, Aurangabad</span>
                    </li>
                    <li class="list-group-item d-flex px-0 flex-column">
                        <span class="form-label">Current Address</span>
                        <span class="form-data">Flat No. 33, Building no. 6, Mokashi Nagar, Aurangabad</span>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-header bg-transparent fs-main fw-bold text-main">Educational Details</div>
                    <div class="card-body">
                        <table class="table dashboard-table mb-0">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Standard</th>
                                    <th>Stream/Subject</th>
                                    <th>Board/University</th>
                                    <th>Marks/Percentage</th>
                                    <th>Class/Grade</th>
                                    <th>Passing Year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>M. A.</td>
                                    <td>Marathi</td>
                                    <td>Pune University</td>
                                    <td>67.25%</td>
                                    <td>First Class</td>
                                    <td>2012</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>B. A.</td>
                                    <td>Marathi</td>
                                    <td>Pune University</td>
                                    <td>77.25%</td>
                                    <td>First Class</td>
                                    <td>2010</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>12</td>
                                    <td>Arts</td>
                                    <td>Pune Board</td>
                                    <td>77.25%</td>
                                    <td>First Class Distinction</td>
                                    <td>2007</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>10</td>
                                    <td>Marathi</td>
                                    <td>Pune Board</td>
                                    <td>56.25%</td>
                                    <td>Second Class</td>
                                    <td>2005</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-transparent fs-main fw-bold text-main">Professional Details</div>
                    <div class="card-body">
                        <div class="row gy-2">
                            <div class="col-sm-7">
                                <label class="form-label mb-0">Working at</label>
                                <div class="form-data">Shri. Manjunath Primary & Secondary School, Aurangabad</div>
                            </div>
                            <div class="col-sm-5">
                                <label class="form-label mb-0">Joining Date</label>
                                <div class="form-data">10-02-2015</div>
                            </div>
                            <div class="col-sm-3">
                                <label class="form-label mb-0">Cluster</label>
                                <div class="form-data">Aurangabad</div>
                            </div>
                            <div class="col-sm-2">
                                <label class="form-label mb-0">Taluka</label>
                                <div class="form-data">Aurangabad</div>
                            </div>
                            <div class="col-sm-2">
                                <label class="form-label mb-0">Village</label>
                                <div class="form-data">Aurangabad</div>
                            </div>
                            <div class="col-sm-5">
                                <label class="form-label mb-0">Teaching for</label>
                                <div class="form-data">
                                    <div class="d-flex gap-2">
                                        <div class="class">1 - (A)</div>
                                        <div class="class">3 - (C)</div>
                                        <div class="class">5 - (B)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header bg-transparent fs-main fw-bold text-main">Experience</div>
                    <div class="card-body">
                        <table class="table dashboard-table mb-0">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>School Name</th>
                                    <th>Designation</th>
                                    <th>Cluster</th>
                                    <th>Location</th>
                                    <th>Worked From-To</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Shri. Shailesh Primary School</td>
                                    <td>Primary Teacher</td>
                                    <td>1st Cluster</td>
                                    <td>Baramati, Pune</td>
                                    <td>01-05-2012 - 04-04-2015</td>
                                    <td>3 Years</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header bg-transparent fs-main fw-bold text-main">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Exit History</span>
                            <button class="btn bg-danger-subtle text-danger btn-sm fs-main fw-bold"
                                (click)="openTransferDialog()">Exit</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table dashboard-table mb-0 table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2">Sr. No.</th>
                                    <th colspan="2" class="text-center">Location</th>
                                    <th colspan="2" class="text-center">Duration</th>
                                    <th rowspan="2">Status</th>
                                    <th rowspan="2">Reason</th>
                                </tr>
                                <tr>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>From</th>
                                    <th>To</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <div class="fw-bold">Shri. Shailesh Primary School</div>
                                        <small class="text-secondary">Village, Taluka, District</small>
                                    </td>
                                    <td>
                                        <div class="fw-bold">Shri. Rajesh Primary School</div>
                                        <small class="text-secondary">Village, Taluka, District</small>
                                    </td>
                                    <td>01-05-2012</td>
                                    <td>04-04-2015</td>
                                    <td>
                                        <span class="badge bg-success-subtle text-success fw-bold fs-main">Active</span>
                                        <span
                                            class="badge bg-primary-subtle text-primary fw-bold fs-main">Retired</span>
                                        <span
                                            class="badge bg-danger-subtle text-danger fw-bold fs-main">Suspended</span>
                                    </td>
                                    <td>
                                        Due to Health issue
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>