<nav class="navbar bg-white py-1 border-bottom shadow-sm">
    <div class="container-fluid justify-content-lg-between justify-content-end gap-1">
        <div class="d-none d-sm-none d-lg-block">
            <img src="assets/images/logo-text.svg" class="w-75">
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <button mat-flat-button class="btn-icon btn-sidebar-close" (click)="onClickSidebar()">
                <span class="material-symbols-rounded">
                    menu
                </span>
            </button>
            <!-- <div class="dropdown">
                <button mat-flat-button class="btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/language.svg">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#" (click)="onChangeLanguage('en')"><img src="assets/images/english.svg">English</a></li>
                    <li><a class="dropdown-item" href="#" (click)="onChangeLanguage('mr')"><img src="assets/images/marathi.svg">Marathi</a></li>
                </ul>
            </div> -->
            <div class="dropdown">
                <button mat-flat-button class="btn-icon" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/language.svg">
                </button>
                <!-- <div class="dropdown-menu dropdown-menu-end">
                    <ng-container *ngFor="let getLag of languageArr">
                        <button class="dropdown-item" (click)="onChangeLanguage(getLag)"
                            [class.active]="getLag == selectLang">
                            <div class="d-flex align-items-start">
                                <img
                                    [src]="getLag == 'English' ? 'assets/images/english.svg' : 'assets/images/marathi.svg'">
                                <span>{{getLag}}</span>
                            </div>
                        </button>
                    </ng-container>
                </div> -->
                <div class="dropdown-menu dropdown-menu-end">
                    <button [class]="webStorage.languageFlag == 'EN' ? 'dropdown-item active' : 'dropdown-item'"
                        (click)="onChangeLanguage('English')">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/english.svg">
                            <span>English</span>
                        </div>
                    </button>
                    <button [class]="webStorage.languageFlag != 'EN' ? 'dropdown-item active' : 'dropdown-item'"
                        (click)="onChangeLanguage('Marathi')">
                        <div class="d-flex align-items-center">
                            <img src="assets/images/marathi.svg">
                            <span>Marathi</span>
                        </div>
                    </button>
                </div>
            </div>
            <button mat-flat-button class="btn-icon">
                <span class="material-symbols-rounded">
                    notifications_active
                </span>
            </button>
            <div class="dropdown">
                <button class="btn profile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex align-items-center gap-2">
                        <img src="assets/images/user.png">
                        <div class="d-flex flex-column align-items-start">
                            <p>Ramesh Kambale</p>
                            <small>Headmaster</small>
                        </div>
                    </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><span class="dropdown-header text-main">Government Primary School,<br>Belwadi</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <span class="material-symbols-rounded">
                                account_circle
                            </span>
                            My Profile
                        </a>
                    </li>
                    <li><a class="dropdown-item" (click)="OnchangePasswordDialog()">
                            <span class="material-symbols-rounded">
                                lock
                            </span>
                            Change Password
                        </a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" (click)="logOut()">
                            <span class="material-symbols-rounded">
                                logout
                            </span>
                            Logout
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>