<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Setting</li>
    <li class="breadcrumb-item" aria-current="page">Page Right Access</li>
  </ol>
</nav>
<mat-card class="plain-card">
  <mat-card-header class="card-header-control form-container pt-0">
    <div class="row align-items-end w-100 justify-content-start g-2 mb-3">
      <div class="col-sm-3">
        <label class="form-label">Designation Level</label>
        <mat-form-field appearance="outline" class="w-100">
            <mat-select>
                <mat-option>District Level</mat-option>
                <mat-option>Extension Oficer</mat-option>
                <mat-option>Taluka Level</mat-option>
                <mat-option>School Level</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-3">
      <label class="form-label">Designation</label>
      <mat-form-field appearance="outline" class="w-100">
          <mat-select>
            <mat-option>Extension Oficer</mat-option>
              <mat-option>Test Extension</mat-option>
              <mat-option>Clerk</mat-option>
              <mat-option>Teacher</mat-option>
          </mat-select>
      </mat-form-field>
  </div>
    <div class="col-sm-3">
      <label class="form-label">
        Page Name/Page URL
        </label>
        <mat-form-field appearance="outline" class="w-100">
            <input matInput>
        </mat-form-field>
  </div>

  <div class="col-sm-auto">
    <div class="d-flex gap-2">
        <button mat-flat-button class="btn-main btn-icon">
            <span class="material-symbols-rounded">
                search
            </span>
        </button>
        <button mat-flat-button class="btn-main-light btn-icon">
            <span class="material-symbols-rounded">
                close
            </span>
        </button>
    </div>
</div>
    </div>

</mat-card-header>
<mat-card-content class="card-body pt-0">
  <table mat-table [dataSource]="dataSource" class="dashboard-table">
      <ng-container matColumnDef="srno">
          <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
          <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
      </ng-container>


      <ng-container matColumnDef="PageName">
          <th mat-header-cell *matHeaderCellDef> Page Name</th>
          <td mat-cell *matCellDef="let element"> {{element.PageName}} </td>
      </ng-container>


      <ng-container matColumnDef="PageURL">
          <th mat-header-cell *matHeaderCellDef> Page URL </th>
          <td mat-cell *matCellDef="let element"> {{element.PageURL}} </td>
      </ng-container>


      <ng-container matColumnDef="Select">
          <th mat-header-cell *matHeaderCellDef> Select </th>
          <td mat-cell *matCellDef="let element"><mat-checkbox class="example-margin">
          </mat-checkbox>W<mat-checkbox class="example-margin">
          </mat-checkbox>R</td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card-content>

</mat-card>

