<div class="login-wrapper">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-8">
                <div class="login-box">
                    <div class="row">
                        <div class="col-sm-6" id="left-side">
                            <img src="assets/images/login.svg">
                        </div>
                        <div class="col-sm-6 form-container" id="right-side">
                            <div class="logo">
                                <img src="assets/images/logo.jpg">
                            </div>
                            <h4 class="mb-4">FORGOT PASSWORD</h4>
                            <div class="row g-2">
                                <div class="col-sm">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Enter Mobile No.</mat-label>
                                        <input matInput placeholder="Enter Mobile No.">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-auto">
                                    <button mat-flat-button class="btn-main">Send OTP</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Enter OTP</label>
                                <div class="d-flex gap-2 no-subscript-wrapper mb-1">
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center">
                                        </mat-form-field>
                                    </div>
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center">
                                        </mat-form-field>
                                    </div>
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center">
                                        </mat-form-field>
                                    </div>
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="text-dark fs-main">OTP valid for 3:00 mins.</span>
                                    <a href="#" class="text-main">Resend OTP</a>
                                </div>
                            </div>



                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter New Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter New Password">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon class="material-symbols-rounded">{{hide ? 'visibility_off' :
                                        'visibility'}}</mat-icon>
                                </button>
                                <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Retype Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Retype">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon class="material-symbols-rounded">{{hide ? 'visibility_off' :
                                        'visibility'}}</mat-icon>
                                </button>
                                <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                            </mat-form-field>
                            <div class="d-flex justify-content-between align-items-center">
                                <button mat-flat-button class="btn-main w-50">Set Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>