<div class="login-wrapper">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-8">
                <div class="login-box">
                    <div class="row">
                        <div class="col-sm-6" id="left-side">
                            <img src="assets/images/login.svg">
                        </div>
                        <div class="col-sm-6 form-container" id="right-side">
                            <div class="logo">
                                <img src="assets/images/logo.jpg">
                            </div>
                            <form [formGroup]="mobileNoForm" (ngSubmit)="sendOpt()" *ngIf="!passwordFlag" #formDirective="ngForm">
                                <h4 class="mb-4">FORGOT PASSWORD</h4>
                                <div class="row g-2">
                                    <div class="col-sm">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Enter Mobile No.</mat-label>
                                            <input matInput placeholder="Enter Mobile No." formControlName="mobileNo" maxlength="10" (keypress)="validation.onlyDigits($event)">
                                            <mat-error *ngIf="mobileNoForm.controls['mobileNo'].hasError('required')">Mobile No is
                                                Required
                                            </mat-error>
                                            <mat-error *ngIf="mobileNoForm.controls['mobileNo'].hasError('pattern')">Enter Valid Mobile No
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                        <div class="forgotPwd mb-1">
                                <a (click)="getlogin()" class="d-flex align-items-center justify-content-end">
                                  <mat-icon class="material-symbols-rounded">
                                    chevron_left
                                    </mat-icon>
                                    <span>Back To Login</span>
                                </a>
                                <!-- <a [routerLink]="['/forgot-password']" class="text-secondary">Back To Login</a> -->
                            </div>
                                    <div class="col-sm-auto" *ngIf="!optFlag">
                                        <button type="submit" mat-flat-button class="btn-main">Send OTP</button>
                                    </div>
                                </div>
                            </form>
                            <form [formGroup]="optForm" *ngIf="optFlag && !passwordFlag" (ngSubmit)="verifyOtp()" #formDirective2="ngForm">
                            <div class="mb-3">
                                <label class="form-label">Enter OTP</label>
                                <div class="d-flex gap-2 no-subscript-wrapper mb-1">
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center" formControlName="otpVal1" #input1 autofocus
                                            (input)="(input1.value.length == 1) ? input2.focus() : ''"
                                            maxlength="1" (keypress)="validation.onlyDigits($event)">
                                        </mat-form-field>
                                    </div>
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center" formControlName="otpVal2" #input2 autofocus
                                            (input)="(input2.value.length == 1) ? input3.focus() : ''" (keyup.backspace)="input1.focus()"
                                            maxlength="1" (keypress)="validation.onlyDigits($event)">
                                        </mat-form-field>
                                    </div>
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center" formControlName="otpVal3" #input3 autofocus
                                            (input)="(input3.value.length == 1) ? input4.focus() : ''" (keyup.backspace)="input2.focus()"
                                            maxlength="1" (keypress)="validation.onlyDigits($event)">
                                        </mat-form-field>
                                    </div>
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center" formControlName="otpVal4" #input4 autofocus
                                            (input)="(input4.value.length == 1) ? input5.focus() : ''"  (keyup.backspace)="input3.focus()"
                                            maxlength="1" (keypress)="validation.onlyDigits($event)">
                                        </mat-form-field>
                                    </div>
                                    <div class="otp-text">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="X" class="text-center" formControlName="otpVal5" #input5 autofocus
                                            (keyup.backspace)="input4.focus()"
                                            maxlength="1" (keypress)="validation.onlyDigits($event)">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <span class="text-dark fs-main" *ngIf="!timerFlag">OTP Valid for 00:{{timeLeft}} Mins.</span>
                                    <a class="text-main" *ngIf="timerFlag" (click)="sendOpt()">Resend OTP</a>
                                </div>
                                <div class="col-sm-auto" *ngIf="optFlag && !timerFlag">
                                    <button type="submit" mat-flat-button class="btn-main">Verify OTP</button>
                                </div>
                            </div>
                        </form>

                        <form [formGroup]="passwordForm" *ngIf="passwordFlag" (ngSubmit)="onSubmit()" #formDirective="ngForm">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Enter New Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter New Password" formControlName="newPassword"
                                (keypress)="validation.noSpacesAtStart($event)" autofocus maxlength="9">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon class="material-symbols-rounded">{{hide ? 'visibility_off' :
                                        'visibility'}}</mat-icon>
                                </button>
                                <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                                <mat-error *ngIf="f['newPassword'].hasError('required')">New Password is
                                    Required</mat-error>
                                    <mat-error *ngIf="f['newPassword'].errors">
                                        <span class="text-danger" *ngIf="f['newPassword'].hasError('minlength') ||
                                    f['newPassword'].hasError('hasNumber') ||
                                    f['newPassword'].hasError('hasCapitalCase') ||
                                    f['newPassword'].hasError('hasSmallCase') ||
                                    f['newPassword'].hasError('hasSpecialCharacters')
                                            ">
                                            {{
                                            f['newPassword'].hasError('minlength') ?
                                            'Please Enter Minimum 8 Characters' :
                                            f['newPassword'].hasError('hasNumber') ?
                                            'Please Enter at least 1 number' :
                                            f['newPassword'].hasError('hasCapitalCase') ?
                                            'Please Enter at least 1 Letter in Capital Case' :
                                            f['newPassword'].hasError('hasSmallCase') ?
                                            'Please Enter at least 1 Letter in Small Case' :
                                            'Please Enter at least 1 Special Character'
                                            }}
                                        </span>
                                    </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Retype Password</mat-label>
                                <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="Retype" formControlName="reTypePassword"
                                (keypress)="validation.noSpacesAtStart($event)" autofocus maxlength="9">
                                <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                                    [attr.aria-label]="'hide1 password'" [attr.aria-pressed]="hide1">
                                    <mat-icon class="material-symbols-rounded">{{hide1 ? 'visibility_off' :
                                        'visibility'}}</mat-icon>
                                </button>
                                <mat-icon matPrefix class="material-symbols-rounded">lock</mat-icon>
                                <mat-error *ngIf="f['reTypePassword'].hasError('required')">Confirm Password is
                                    Required
                                </mat-error>
                                <mat-error *ngIf="f['reTypePassword'].hasError('pattern')">Enter Valid Confirm Password
                                </mat-error>
                            </mat-form-field>
                            <div class="d-flex justify-content-between align-items-center">
                                <button type="submit" mat-flat-button class="btn-main w-50">Set Password</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
