<div class="page-heading">
    <div class="page-name">Welcome <span class="text-main">Sagar</span></div>
    <div class="d-flex gap-2 align-items-center">
        Total schools assessed: <span class="text-main fw-bold">26/2111</span>
        <mat-form-field appearance="outline">
            <mat-label>Favorite food</mat-label>
            <mat-select>
                <mat-option>
                    Select Year
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row g-2">
    <div class="col-sm-3">
        <div class="row g-2">
            <div class="col-sm-6 col-6">
                <mat-card>
                    <mat-card-content>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-6">
                <mat-card>
                    <mat-card-content>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-6">
                <mat-card>
                    <mat-card-content>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-6">
                <mat-card>
                    <mat-card-content>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <mat-card>
            <mat-card-content>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-3">
        <mat-card>
            <mat-card-content>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-12">
        <mat-card>
            <mat-card-header>
                Total number of students surveyed
            </mat-card-header>
            <mat-card-content>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-12">
        <mat-card>
            <mat-card-header>
                <div class="row g-2">
                    <div class="col-sm-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Exam Type</mat-label>
                            <mat-select>
                                <mat-option>
                                    Exam Type
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Set Number</mat-label>
                            <mat-select>
                                <mat-option>
                                    Set Number
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Subject</mat-label>
                            <mat-select>
                                <mat-option>
                                    Subject
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Options</mat-label>
                            <mat-select>
                                <mat-option>
                                    Options
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            </mat-card-content>
        </mat-card>
    </div>
</div>