<div mat-dialog-title class="modal-header">
  <div class="d-flex justify-content-end w-100">
      <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
          <mat-icon class="material-symbols-rounded">close</mat-icon>
      </button>
  </div>
</div>
<mat-dialog-content class="modal-body scrollbar">
  <div class="row">
      <div class="col-sm-6">
          <div class="d-flex gap-2 w-100">
              <div class="form-label">Name :</div>
              <div class="form-data">Gangaram Sudam Patil
          </div>
      </div>
      </div>
      <div class="col-sm-6">
          <div class="d-flex gap-2 w-100">
              <div class="form-label">Center Head :</div>
              <div class="form-data">Pratik Sharma
          </div>
      </div>
      </div>
      <div class="col-sm-6">
          <div class="d-flex gap-2 w-100">
              <div class="form-label">City Name :</div>
              <div class="form-data">Amravati
          </div>
      </div>
      </div>
      <div class="col-sm-6">
          <div class="d-flex gap-2 w-100">
              <div class="form-label">School Name :</div>
              <div class="form-data">ZP Prathamik School
          </div>
      </div>
      </div>
      <div class="col-sm-6">
          <div class="d-flex gap-2 w-100">
              <div class="form-label">Taluka :</div>
              <div class="form-data">Amravati
          </div>
      </div>
      </div>
      <div class="col-sm-6">
          <div class="d-flex gap-2 w-100">
              <div class="form-label">Contact :</div>
              <div class="form-data">9899896778
          </div>
      </div>
      </div>
</div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end w-100 gap-2">
      <button mat-flat-button class="btn-main-light" type="button">Rejected</button>
      <button mat-flat-button class="btn-main" type="submit">Approve</button>
  </div>
</mat-dialog-actions>

