<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Setting</li>
      <li class="breadcrumb-item active" aria-current="page">Teacher Transfer</li>
  </ol>
</nav>
<mat-card class="plain-card h-100">
  <mat-card-header class="card-header">
      <div class="d-flex justify-content-between align-items-center w-100">
          <h6 class="text-main mb-0 fw-bold">Teacher Transfer</h6>
          <div class="d-flex align-items-center gap-2">
          </div>
      </div>
  </mat-card-header>

  <mat-card-content class="card-body pt-0">
      <div class="row">
          <div class="col-sm-4">
            <ol class="list-group">
              <li class="list-group-item d-flex">
                <div class="">
                  <div class="fw-bold">Teacher Name</div>
                  <div class="flex-shrink-0 mb-3"><img src="assets/images/user1.png"
                    alt="Student Photo" class="logo">Ronit Mehata</div>
                  <div class=""><img src="assets/images/user1.png"
                    alt="Student Photo" class="logo">Riya Sharma</div>
                </div>
              </li>
            </ol>
          </div>
          <div class="col-sm-8 ccc">
              <ng-container>
                  <div class="student-details">
                      <div class="d-flex">
                          <div class="flex-shrink-0">
                              <img src="assets/images/user.png"
                                  alt="Student Photo" class="logo">
                          </div>
                          <div class="flex-grow-1 ms-3">
                              <div class="">
                                  <h5 class="fw-bold mb-3">
                                    Teacher Name
                                  </h5>
                              </div>

                              <div class="data-container">
                                  <div class="row gy-3">
                                      <div class="col-sm-4 d-flex">
                                          <span class="data-label">Teacher Name :</span>
                                          <div class="data-text">
                                           Ronit Mishra
                                          </div>
                                      </div>
                                      <div class="col-sm-4 d-flex">
                                          <span class="data-label">DOB :</span>
                                          <div class="data-text">
                                            12-12-1997</div>
                                      </div>
                                      <div class="col-sm-4 d-flex">
                                          <span class="data-label">Gender :</span>
                                          <div class="data-text">
                                             Male</div>
                                      </div>
                                      <div class="col-sm-4 d-flex">
                                          <span class="data-label">Religion :
                                          </span>
                                          <div class="data-text">
                                             Hindu</div>
                                      </div>

                                      <div class="col-sm-4 d-flex">
                                        <span class="data-label">Category :
                                        </span>
                                        <div class="data-text">
                                            iuyukhjkj
                                        </div>
                                    </div>
                                      <div class="col-sm-4 d-flex">
                                          <span class="data-label">Caste :
                                          </span>
                                          <div class="data-text">
                                             Maratha
                                          </div>
                                      </div>
                                      <div class="col-sm-4 d-flex">
                                          <span class="data-label">Saral ID :</span>
                                          <div class="data-text">
                                             Maratha
                                          </div>
                                      </div>
                                      <div class="col-sm-4 d-flex">
                                          <span class="data-label">Aadhaar No. :
                                          </span>
                                          <div class="data-text">
                                             6778876778
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <mat-card class="plain-card border">
                      <mat-card-header class="card-header pb-0 border-bottom-0">
                          <div class="d-flex justify-content-between align-items-center w-100">
                              <div class="fw-bold flex-fill align-self-start">
                                Teacher Transfer</div>
                          </div>
                      </mat-card-header>
                      <ng-container>
                          <mat-card-content class="card-body">
                            <div class="row align-items-start w-100 justify-content-start mb-3 mb-lg-0 g-2">
                              <div class="col-sm-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Teacher Name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                              <div class="col-sm-6">
                                  <mat-form-field appearance="outline" class="w-100">
                                      <mat-label>Teacher Name</mat-label>
                                      <mat-select>
                                          <mat-option>Designation</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                                  <mat-form-field appearance="outline" class="w-100">
                                      <mat-label>Transfer</mat-label>
                                      <mat-select>
                                          <mat-option>Inter District</mat-option>
                                          <mat-option>Intra District</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                                  <mat-form-field appearance="outline" class="w-100">
                                      <mat-label>Select District</mat-label>
                                      <mat-select>
                                          <mat-option>Pune</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                                  <mat-form-field appearance="outline" class="w-100">
                                      <mat-label>Select Taluka</mat-label>
                                      <mat-select>
                                          <mat-option>Pune</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                                  <mat-form-field appearance="outline" class="w-100">
                                      <mat-label>Select Cluster</mat-label>
                                      <mat-select>
                                          <mat-option>Pune</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                                  <mat-form-field appearance="outline" class="w-100">
                                      <mat-label>Select Village</mat-label>
                                      <mat-select>
                                          <mat-option>Pune</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                                  <mat-form-field appearance="outline" class="w-100">
                                      <mat-label>Select School</mat-label>
                                      <mat-select>
                                          <mat-option>Pune</mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Remark</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                          </div>
                          </mat-card-content>
                          <mat-card-actions class="card-footer" align="end">
                              <div class="d-flex justify-content-end align-items-center w-100">
                                  <button type="button" mat-flat-button class="btn-main-light me-2">Clear</button>
                                  <button mat-flat-button type="submit" class="btn-main">Submit</button>
                              </div>
                          </mat-card-actions>
                      </ng-container>
                  </mat-card>
              </ng-container>
          </div>
      </div>
  </mat-card-content>
</mat-card>
