<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'Lables.master' | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Lables.SchoolRegistration' | translate}}</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h6 class="text-main mb-2 mb-lg-0 fw-bold">{{'Lables.SchoolRegistration' | translate}}</h6>
            <div class="d-flex align-items-center gap-2">
                <div class="d-flex align-items-center gap-2">
                    <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn-icon bg-dark-subtle text-dark" matTooltip="{{'Lables.DownloadTooltip' | translate}}">
                        <mat-icon class="material-symbols-rounded">
                            download
                        </mat-icon>
                    </button>
                    <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu">
                        <button mat-menu-item (click)="getTableData('pdfFlag')">
                            <mat-icon class="material-symbols-rounded text-success">
                                description
                            </mat-icon>
                            <span class="text-success">PDF</span>
                        </button>
                        <button mat-menu-item (click)="getTableData('excelFlag')">
                            <mat-icon class="material-symbols-rounded text-danger">
                                table
                            </mat-icon>
                            <span class="text-danger">Excel</span>
                        </button>
                    </mat-menu>
                    <!-- <button mat-flat-button class="bg-primary-subtle btn-icon">
                    <mat-icon class="material-symbols-rounded text-primary">
                        table_view
                    </mat-icon>
                </button> -->
                    <!-- <button mat-flat-button class="bg-dark-subtle btn-icon">
                <mat-icon class="material-symbols-rounded text-dark">account_tree</mat-icon>
            </button> -->
                    <!-- <button mat-flat-button class="bg-danger-subtle btn-icon">
                    <mat-icon class="material-symbols-rounded text-danger">
                        description
                    </mat-icon>
                </button> -->
                    <button mat-flat-button class="btn-main" (click)="AddSchool()">
                        <mat-icon class="material-symbols-rounded">add</mat-icon>
                        <span>
                            {{'Lables.AddSchool' | translate}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header-control pt-0 form-container">
        <form [formGroup]="filterForm">
        <div class="row align-items-end w-100 justify-content-start g-2">

            <div class="col-sm-2">
                <label class="form-label">{{'Lables.district' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="districtId" (selectionChange)="clearDropdown('district'); getTaluka();">
                        <mat-option *ngFor="let district of districtArray" [value]="district.id">{{webStorage.languageFlag =='mr-IN' ? district.m_District: district.district}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <label class="form-label">{{'Lables.taluka' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="talukaId" (selectionChange)="clearDropdown('taluka'); getCenter();">
                        <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{webStorage.languageFlag =='mr-IN' ? taluka.m_Taluka: taluka.taluka}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <label class="form-label">{{'Lables.kendra' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="centerId" (selectionChange)="clearDropdown('kendra'); getVillage();">
                        <mat-option *ngFor="let center of centerArray" [value]="center.id">{{webStorage.languageFlag =='mr-IN' ? center.m_Center: center.center}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <label class="form-label">{{'Lables.village' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="villageId">
                        <mat-option *ngFor="let village of villageArray" [value]="village.id">{{webStorage.languageFlag =='mr-IN' ? village.m_Village: village.village}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <label class="form-label">{{'Lables.UDISECode/SchoolName' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="{{'Lables.UDISECode/SchoolName' | translate}}" formControlName="textSearch" (keypress)="validation.noSpacesAtStart($event); validation.alphaNumericWithSpacesAndSpecChars($event)" maxlength="100">
                </mat-form-field>
            </div>
            <div class="col-sm-auto">
                <div class="d-flex gap-2">
                    <button mat-flat-button class="btn-main btn-icon" (click)="getTableData('filter')">
                        <mat-icon class="material-symbols-rounded">
                            search
                        </mat-icon>
                    </button>
                    <button mat-flat-button class="btn-main-light btn-icon" (click)="onClear()">
                        <mat-icon class="material-symbols-rounded">
                            close
                        </mat-icon>
                    </button>
                </div>
            </div>

        </div>
    </form>
    </mat-card-header>
    <mat-card-content class="card-body">
        <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
    </mat-card-content>
</mat-card>
