<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Master</li>
        <li class="breadcrumb-item active" aria-current="page">Designation Master</li>
    </ol>
</nav>
<div class="row g-2">
    <div class="col-sm-8">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="text-main mb-2 mb-lg-0 fw-bold">
                        {{'Lables.designationMaster' | translate}}</h6>
                    <div class="d-flex align-items-center gap-2">
                        <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn-icon bg-dark-subtle text-dark">
                            <span class="material-symbols-rounded">
                                download
                            </span>
                        </button>
                        <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu">
                            <button mat-menu-item (click)="getTableData('pdfFlag')">
                                <span class="material-symbols-rounded text-success">
                                    description
                                </span>
                                <span class="text-success">PDF</span>
                            </button>
                            <button mat-menu-item  (click)="getTableData('excel')">
                                <span class="material-symbols-rounded text-danger">
                                    table
                                </span>
                                <span class="text-danger">Excel</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-header class="card-header-control pt-0 form-container">
                <div class="row align-items-end w-100 justify-content-start mb-3 mb-lg-0 g-2">
                    <div class="col-sm-5">
                        <label class="form-label">Designation Level</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select [formControl]="desigId">
                                <mat-option *ngFor="let desiglevel of desigLevelArr" [value]="desiglevel.id">{{langTypeName =='English' ? desiglevel.designationLevel: desiglevel.m_DesignationLevel}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Search Designation</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Search Designation" [formControl]="textSearch">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-2">
                            <button mat-flat-button class="btn-main btn-icon" (click)="getTableData('filter')">
                                <span class="material-symbols-rounded">
                                    search
                                </span>
                            </button>
                            <button mat-flat-button class="btn-main-light btn-icon">
                                <span class="material-symbols-rounded">
                                    close
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body">
                <app-global-table  (recObjToChild)="childCompInfo($event)"></app-global-table>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-4 form-container">
        <form action="" [formGroup]="desigNationForm" (ngSubmit)="submit()">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="text-main">Designation Registration</div>
            </mat-card-header>
            <mat-card-content class="card-body">
                <label class="form-label">Select Dependant Designation Level</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="dependantDesigLevelId" (selectionChange)="getAllDepenDesignationByLevelId()">
                        <mat-option *ngFor="let desigLevel of desigLevelArr" [value]="desigLevel.id" [hidden]="desigLevel.id == 0">{{langTypeName =='English' ? desigLevel.designationLevel: desigLevel.m_DesignationLevel}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <label class="form-label">Select Dependant Designation</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="linkedDesignationModel" (selectionChange)="getAllDesireDesigLevelBylevel(); selectMultiple($event);" multiple>
                        <mat-option *ngFor="let desig of dependDesigArr" [value]="desig"> {{langTypeName =='English' ? desig.designation: desig.m_Designation}}</mat-option>
                    </mat-select>
                </mat-form-field>

                
                <label class="form-label">Desire Designation Level</label>
                <mat-form-field appearance="outline" class="w-100" >
                    <mat-select formControlName="designationLevelId">
                        <mat-option *ngFor=" let desigLevel of desireDesigLevelArr" [value]="desigLevel.id">{{langTypeName =='English' ? desigLevel.designationLevel: desigLevel.m_DesignationLevel}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <label class="form-label">Designation Name</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input minlength="2" maxlength="50" matInput formControlName="designation">
                </mat-form-field>
                <label class="form-label">Designation Name (Marathi)</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input minlength="2" maxlength="50" matInput formControlName="m_Designation"  (keypress)="validation.noFirstSpaceAllow($event); validation.unicodeMarathiValidation($event);">
                </mat-form-field>
                

                
            </mat-card-content>
            <mat-card-actions class="card-footer" align="end">
                <div class="d-flex justify-content-end align-items-center w-100">
                    <button type="button" mat-flat-button class="btn-main-light me-2" (click)="clearFilerForm()">Clear</button>
                    <button mat-flat-button type="submit" class="btn-main">Submit</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>    
</div>
</div>