<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'Lables.master' |translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Lables.designationMaster' | translate}}</li>
    </ol>
</nav>
<div class="row g-2">
    <div class="col-sm-8">
        <mat-card class="plain-card">
            <mat-card-header class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h6 class="text-main mb-2 mb-lg-0 fw-bold">
                        {{'Lables.designationMaster' | translate}}</h6>
                    <div class="d-flex align-items-center gap-2">
                        <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn-icon bg-dark-subtle text-dark"
                            matTooltip="{{'Lables.DownloadTooltip' | translate}}">
                            <mat-icon class="material-symbols-rounded">
                                download
                            </mat-icon>
                        </button>
                        <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu">
                            <button mat-menu-item (click)="getTableData('pdfFlag')">
                                <mat-icon class="material-symbols-rounded text-success">
                                    description
                                </mat-icon>
                                <span class="text-success">PDF</span>
                            </button>
                            <button mat-menu-item (click)="getTableData('excel')">
                                <mat-icon class="material-symbols-rounded text-danger">
                                    table
                                </mat-icon>
                                <span class="text-danger">Excel</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-header class="card-header-control pt-0 form-container">
                <div class="row align-items-end w-100 justify-content-start mb-3 mb-lg-0 g-2">
                    <div class="col-sm-5">
                        <label class="form-label">{{'Lables.DesignationLevel' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-select [formControl]="desigId">
                                <mat-option *ngFor="let desiglevel of desigLevelArr"
                                    [value]="desiglevel.id">{{langTypeName =='English' ? desiglevel.designationLevel:
                                    desiglevel.m_DesignationLevel}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">{{'Lables.SearchDesignation' | translate}}</label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder=" {{'Lables.SearchDesignation' | translate}}"
                                [formControl]="textSearch">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-2">
                            <button mat-flat-button class="btn-main btn-icon" (click)="getTableData('filter')">
                                <mat-icon class="material-symbols-rounded">
                                    search
                                </mat-icon>
                            </button>
                            <button mat-flat-button class="btn-main-light btn-icon" (click)="clearFilerForm()">
                                <mat-icon class="material-symbols-rounded">
                                    close
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content class="card-body">
                <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-4 form-container">
        <mat-card class="plain-card" *ngIf="editObj?.id && !editFlag">
            <mat-card-header class="card-header">
                <div class="text-main">
                    View Designation
                </div>
            </mat-card-header>
            <mat-card-content class="card-body pt-0">
                <ul class="list-group list-group-flush mb-0">
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Dependant Designation Level :</span>
                        <span class="form-data">{{editObj?.designationLevel}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0"
                       >
                        <span class="form-label">Dependant Designation :</span>
                        <div *ngFor="let item of editObj.linkedDesignationResponseModel">
                            <span class="form-data">{{item?.linkedDesignationName}}</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Desire Designation Level :</span>
                        <span class="form-data">{{editObj?.designationLevel}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Designation :</span>
                        <span class="form-data">{{editObj?.designation}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        <span class="form-label">Designation (Marathi) :</span>
                        <span class="form-data">{{editObj?.m_Designation}}</span>
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions class="card-footer">
                <div class="d-flex justify-content-end align-items-center w-100 gap-2">
                    <button mat-flat-button class="btn-main-light" type="button"
                        (click)="editFlag = true">Cancel</button>
                    <button mat-flat-button class="btn-main" type="submit"
                        (click)="onEdit(editObj?.id, 'Edit')">Edit</button>
                </div>
            </mat-card-actions>
        </mat-card>


        <form action="" [formGroup]="desigNationForm" (ngSubmit)="submit()" #formDirective="ngForm"
            *ngIf="!editObj?.id || editFlag">
            <mat-card class="plain-card">
                <mat-card-header class="card-header">
                    <div class="text-main">{{editObj ?('Lables.updateDesignation' | translate)
                        :('Lables.DesignationRegistration' | translate)}}</div>
                </mat-card-header>
                <mat-card-content class="card-body py-0">
                    <label class="form-label">{{'Lables.DependDesigLevel' | translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="dependantDesigLevelId"
                            (selectionChange)="getAllDepenDesignationByLevelId();getAllDesireDesigLevelBylevel()">
                            <mat-option *ngFor="let desigLevel of desigLevelArr" [value]="desigLevel.id"
                                [hidden]="desigLevel.id == 0">{{langTypeName =='English' ? desigLevel.designationLevel:
                                desigLevel.m_DesignationLevel}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- linkedDesignationId -->
                    <label class="form-label">{{'Lables.DependantDesignation' | translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select multiple [compareWith]="compareFn" formControlName="depenDesigIds">
                            <mat-option *ngFor="let desig of dependDesigArr" [value]="desig"> {{langTypeName =='English'
                                ? desig.designation: desig.m_Designation}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                    <label class="form-label">{{'Lables.DesireDesignationLevel' | translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="designationLevelId">
                            <mat-option *ngFor=" let desigLevel of desireDesigLevelArr"
                                [value]="desigLevel.id">{{langTypeName =='English' ? desigLevel.designationLevel:
                                desigLevel.m_DesignationLevel}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <label class="form-label">{{'Lables.Designation' | translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input minlength="2" maxlength="50" matInput formControlName="designation"
                            (keypress)="validation.noFirstSpaceAllow($event)">
                        <mat-error *ngIf="f['designation'].hasError('pattern') || f['designation'].hasError('touched')">
                            {{'Lables.InvalidDesignation' | translate}}
                        </mat-error>
                    </mat-form-field>

                    <label class="form-label">{{'Lables.Designation-marathi' | translate}}</label>
                    <mat-form-field appearance="outline" class="w-100">
                        <input minlength="2" maxlength="50" matInput formControlName="m_Designation"
                            (keypress)="validation.noFirstSpaceAllow($event); validation.unicodeMarathiValidation($event);">
                        <mat-error *ngIf="f['m_Designation'].hasError('pattern') ">
                            {{'Lables.DesignationMarathiReq' | translate}}</mat-error>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions class="card-footer" align="end">
                    <div class="d-flex justify-content-end align-items-center w-100">
                        <button type="button" mat-flat-button class="btn-main-light me-2"
                            (click)="clearForm()">{{'Lables.cancel' |
                            translate}}</button>
                        <button mat-flat-button type="submit" class="btn-main">{{editObj ? ('Lables.update' | translate)
                            : ('Lables.submit' | translate)}}</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>