<div mat-dialog-title class="modal-header">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h6 class="text-main mb-0 fw-bold">Other Registration</h6>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <mat-icon class="material-symbols-rounded">close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content class="modal-body scrollbar form-container">
  <div class="row">
    <div class="col-sm-12">
      <h6 class="section-head">Other Registration Details</h6>
    </div>
    <div class="col-sm-4">
      <label class="form-label">Name</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">Name (Marathi)</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">Mobile No.</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">Email ID</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">District</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option>
            Satara
          </mat-option>
          <mat-option>
            Solapur
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">Taluka</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option>
            Amravati
          </mat-option>
          <mat-option>
            Amravati
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12">
      <label class="form-label">Address</label>
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput rows="2"></textarea>
      </mat-form-field>
    </div>


  </div>
  <div class="row">
    <div class="col-sm-12">
      <h6 class="section-head">Contact Person Details</h6>
    </div>
    <div class="col-sm-4">
      <label class="form-label">Conact Person Name</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">Contact No.</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">Email ID</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>

    <div class="col-sm-12">
      <label class="form-label">Address</label>
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput rows="2"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end w-100 gap-2">
    <button mat-flat-button class="btn-main-light" type="button">Cancel</button>
    <button mat-flat-button class="btn-main" type="submit">Submit</button>
  </div>
</mat-dialog-actions>
