<div mat-dialog-title class="modal-header">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h6 class="text-main mb-0 fw-bold">{{'Lables.OtherRegistration' |translate}}</h6>
    <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
      <mat-icon class="material-symbols-rounded">close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content class="modal-body scrollbar form-container">
  <div class="row gx-2">
    <div class="col-sm-12">
      <h6 class="section-head">{{'Lables.OtherRegistrationDetails' |translate}}</h6>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.Name' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.Name(Marathi)' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.MobileNo' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.EmailID' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.district' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option>
            Satara
          </mat-option>
          <mat-option>
            Solapur
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.taluka' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-select>
          <mat-option>
            Amravati
          </mat-option>
          <mat-option>
            Amravati
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-sm-12">
      <label class="form-label">{{'Lables.Address' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput rows="2"></textarea>
      </mat-form-field>
    </div>


  </div>
  <div class="row gx-2">
    <div class="col-sm-12">
      <h6 class="section-head">{{'Lables.ContactPersonDetails' |translate}}</h6>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.ConactPersonName' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.ContactNo' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <label class="form-label">{{'Lables.EmailID' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput>
      </mat-form-field>
    </div>

    <div class="col-sm-12">
      <label class="form-label">{{'Lables.Address' |translate}}</label>
      <mat-form-field appearance="outline" class="w-100">
        <textarea matInput rows="2"></textarea>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end w-100 gap-2">
    <button mat-flat-button class="btn-main-light" type="button">{{'Lables.cancel' |translate}}</button>
    <button mat-flat-button class="btn-main" type="submit">{{'Lables.Submit' |translate}}</button>
  </div>
</mat-dialog-actions>
