<p>global-dialog works!</p>

<mat-card class="plain-card">
    <mat-card-header class="card-header">
      <h6 class="text-main mb-0 fw-bold">{{data.header}}</h6>
    </mat-card-header>
    <mat-card-content class="card-body text-center">
      <img src="{{data.header != 'Confirmation' ? 'assets/images/logout.gif' : 'assets/images/logout.gif'}}" class="w-25">
      <h6 mat-dialog-content class="my-4">
       {{data.title}}
      </h6>
      <div mat-dialog-actions align="end">
        <button mat-flat-button mat-dialog-close class="btn-second me-2" (click)="closeDialog('No')">{{data.cancelButton}}</button>
        <button mat-flat-button cdkFocusInitial type="submit" class="btn-main" (click)="closeDialog('yes')">{{data.okButton}}</button>
      </div>
    </mat-card-content>
  </mat-card>