<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">{{'Lables.master' | translate}}</li>
        <li class="breadcrumb-item active" aria-current="page">{{'Lables.TeacherRegistration' | translate}}</li>
    </ol>
</nav>
<mat-card class="plain-card">
    <mat-card-header class="card-header pb-0">
        <div class="d-lg-flex d-block justify-content-between align-items-center w-100">
            <h6 class="text-main mb-2 mb-lg-0 fw-bold">
                {{'Lables.TeacherRegistration' | translate}}</h6>
            <div class="d-flex align-items-center gap-2">
                <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn-icon bg-dark-subtle text-dark" matTooltip="{{'Lables.DownloadTooltip' | translate}}">
                    <mat-icon class="material-symbols-rounded">
                        download
                    </mat-icon>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before" class="mat-menu">
                    <button mat-menu-item (click)="getTableData('pdfFlag')">
                        <mat-icon class="material-symbols-rounded text-success">
                            description
                        </mat-icon>
                        <span class="text-success">PDF</span>
                    </button>
                    <button mat-menu-item (click)="getTableData('excelFlag')">
                        <mat-icon class="material-symbols-rounded text-danger">
                            table
                        </mat-icon>
                        <span class="text-danger">Excel</span>
                    </button>
                </mat-menu>
                <button mat-flat-button class="btn-main" (click)="AddTeacher()">
                    <mat-icon class="material-symbols-rounded">add</mat-icon>
                    <span>
                        {{'Lables.AddTeacher' | translate}}
                    </span>
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-header class="card-header-control border-bottom-0 form-container">
<form [formGroup]="filterForm">
        <div class="row align-items-end w-100 justify-content-start g-2">
            <div class="col-sm-2">
                <label class="form-label">{{'Lables.district' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="districtId" (selectionChange)="clearDropdown('district'); getTaluka();">
                        <mat-option *ngFor="let district of districtArray" [value]="district.id">{{webStorage.languageFlag =='mr-IN' ? district.m_District: district.district}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <label class="form-label">{{'Lables.taluka' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="talukaId" (selectionChange)="clearDropdown('taluka'); getCenter();">
                        <mat-option *ngFor="let taluka of talukaArray" [value]="taluka.id">{{webStorage.languageFlag =='mr-IN' ? taluka.m_Taluka: taluka.taluka}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <label class="form-label">{{'Lables.kendra' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="centerId" (selectionChange)="clearDropdown('kendra'); getVillage();">
                        <mat-option *ngFor="let center of centerArray" [value]="center.id">{{webStorage.languageFlag =='mr-IN' ? center.m_Center: center.center}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <label class="form-label">{{'Lables.village' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select formControlName="villageId">
                        <mat-option *ngFor="let village of villageArray" [value]="village.id">{{webStorage.languageFlag =='mr-IN' ? village.m_Village: village.village}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <label class="form-label">{{'Lables.TeacherName/MobileNo.' | translate}}</label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="{{'Lables.TeacherName/MobileNo.' | translate}}" formControlName="textSearch"
                    (keypress)="validation.noSpacesAtStart($event); validation.alphaNumericWithSpacesAndSpecChars($event)" maxlength="100">
                </mat-form-field>
            </div>
            <div class="col-sm-auto">
                <div class="d-flex gap-2">
                    <button mat-flat-button class="btn-main btn-icon">
                        <mat-icon class="material-symbols-rounded">
                            search
                        </mat-icon>
                    </button>
                    <button mat-flat-button class="btn-main-light btn-icon" (click)="onClear()">
                        <mat-icon class="material-symbols-rounded">
                            close
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </form>
    </mat-card-header>
    <mat-card-content class="card-body">
        <table mat-table [dataSource]="dataSource" class="dashboard-table">
            <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef> Sr. No. </th>
                <td mat-cell *matCellDef="let element"> {{element.srno}} </td>
            </ng-container>
            <ng-container matColumnDef="TeacherNum">
                <th mat-header-cell *matHeaderCellDef> Teacher Name </th>
                <td mat-cell *matCellDef="let element"> {{element.TeacherNum}} </td>
            </ng-container>
            <ng-container matColumnDef="Teacher">
                <th mat-header-cell *matHeaderCellDef> Teacher ID </th>
                <td mat-cell *matCellDef="let element"> {{element.Teacher}} </td>
            </ng-container>
            <ng-container matColumnDef="Mobile">
                <th mat-header-cell *matHeaderCellDef> Mobile No.
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Mobile}} </td>
            </ng-container>
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef> Email ID
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
            </ng-container>
            <ng-container matColumnDef="District">
                <th mat-header-cell *matHeaderCellDef> District
                </th>
                <td mat-cell *matCellDef="let element"> {{element.District}} </td>
            </ng-container>
            <ng-container matColumnDef="Taluka">
                <th mat-header-cell *matHeaderCellDef> Taluka
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Taluka}} </td>
            </ng-container>
            <ng-container matColumnDef="Cluster">
                <th mat-header-cell *matHeaderCellDef> Cluster
                </th>
                <td mat-cell *matCellDef="let element"> {{element.Cluster}} </td>
            </ng-container>
            <ng-container matColumnDef="Unblock">
                <th mat-header-cell *matHeaderCellDef> Unblock/Block
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled">
                    </mat-slide-toggle>
                </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action
                </th>
                <td mat-cell *matCellDef="let element let i=index">
                    <div class="d-flex gap-2">
                        <button mat-icon-button>
                            <mat-icon class="text-warning material-symbols-rounded">
                                edit_square
                            </mat-icon>
                        </button>
                        <button mat-icon-button>
                          <mat-icon class="text-danger material-symbols-rounded">
                              delete
                          </mat-icon>
                      </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <app-global-table (recObjToChild)="childCompInfo($event)"></app-global-table> -->
    </mat-card-content>
</mat-card>
