<div mat-dialog-title class="modal-header">
  <div class="d-flex justify-content-between align-items-center w-100">
      <h6 class="text-main mb-0 fw-bold">Add Assessment Crateria</h6>
      <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
          <mat-icon class="material-symbols-rounded">close</mat-icon>
      </button>
  </div>
</div>
<mat-dialog-content class="modal-body scrollbar">
  <div class="row g-2">
      <div class="col-sm-4">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>District</mat-label>
              <mat-select>
                  <mat-option value="0">
                      Amravati
                  </mat-option>
                  <mat-option value="0">
                      Pune
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-4">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Standard</mat-label>
              <mat-select>
                  <mat-option value="0">
                      1st
                  </mat-option>
                  <mat-option value="0">
                      2nd
                  </mat-option>
                  <mat-option value="0">
                      3rd
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-4">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Subject</mat-label>
              <mat-select>
                  <mat-option value="0">
                      Science
                  </mat-option>
                  <mat-option value="0">
                      Mathematic
                  </mat-option>
                  <mat-option value="0">
                      English
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-4">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Question Type</mat-label>
              <mat-select>
                  <mat-option value="0">
                      Multiple Options
                  </mat-option>
                  <mat-option value="0">
                      Yes/No
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-4">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Select Multiple Option</mat-label>
              <mat-select>
                  <mat-option value="0">
                      1
                  </mat-option>
                  <mat-option value="0">
                      2
                  </mat-option>
                  <mat-option value="0">
                      3
                  </mat-option>
                  <mat-option value="0">
                      4
                  </mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-4">
        <button mat-flat-button class="btn-main-light" type="button" [routerLink]="['../add-question']">Add</button>
      </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
  <div class="d-flex align-items-center justify-content-end w-100 gap-2">
      <button mat-flat-button class="btn-main-light" type="button">Cancel</button>
      <button mat-flat-button class="btn-main" type="submit">Submit</button>
  </div>
</mat-dialog-actions>

