<div mat-dialog-title class="modal-header">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h6 class="text-main mb-0 fw-bold">Add Question</h6>
        <button mat-icon-button class="btn-modal-close" [mat-dialog-close]="true">
            <mat-icon class="material-symbols-rounded">close</mat-icon>
        </button>
    </div>
</div>
<mat-dialog-content class="modal-body scrollbar form-container">
    <div class="row gx-2">
        <div class="col-sm-6">
            <label class="form-label">District</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option value="0">
                        Amravati
                    </mat-option>
                    <mat-option value="0">
                        Pune
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <label class="form-label">Educational Year</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option value="0">
                        1st
                    </mat-option>
                    <mat-option value="0">
                        2nd
                    </mat-option>
                    <mat-option value="0">
                        3rd
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <label class="form-label">Select Class</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option value="0">
                        Science
                    </mat-option>
                    <mat-option value="0">
                        Mathematic
                    </mat-option>
                    <mat-option value="0">
                        English
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <label class="form-label">Question Type</label>
            <mat-form-field appearance="outline" class="w-100">
                <mat-select>
                    <mat-option value="0">
                        Single Select
                    </mat-option>
                    <mat-option value="0">
                        Multiselect
                    </mat-option>
                    <mat-option value="0">
                        Yes/No
                    </mat-option>
                    <mat-option value="0">
                        True/False
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-12">
            <label class="form-label">Question Type</label>
            <mat-form-field appearance="outline" class="w-100">
                <textarea matInput rows="3" placeholder="Enter Question"></textarea>
            </mat-form-field>
        </div>
        <div class="col-sm-12">
            <label class="form-label">Parameter</label>
            <div class="d-flex gap-2">
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Parameter">
                </mat-form-field>
                <button mat-flat-button class="btn-icon btn-main">
                    <mat-icon class="material-symbols-rounded">
                        add
                    </mat-icon>
                </button>
            </div>
            <mat-chip-listbox>
                <mat-chip>
                    Prarambhik
                    <button matChipRemove>
                        <mat-icon class="material-symbols-rounded">cancel</mat-icon>
                    </button>
                </mat-chip>
                <mat-chip>
                    Prarambhik
                    <button matChipRemove>
                        <mat-icon class="material-symbols-rounded">cancel</mat-icon>
                    </button>
                </mat-chip>
                <mat-chip>
                    Prarambhik
                    <button matChipRemove>
                        <mat-icon class="material-symbols-rounded">cancel</mat-icon>
                    </button>
                </mat-chip>
            </mat-chip-listbox>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
    <div class="d-flex align-items-center justify-content-end w-100 gap-2">
        <button mat-flat-button class="btn-main-light" type="button">Cancel</button>
        <button mat-flat-button class="btn-main" type="submit">Submit</button>
    </div>
</mat-dialog-actions>
