@use '@angular/material' as mat;

@include mat.core();

@include mat.all-component-densities(-3);
@include mat.form-field-density(-5);
@import url('assets/css/MaterialStyleSheet.scss');

body {
    font-family: 'Public Sans', sans-serif !important;
    background-color: #eee;
}

:root {
    --main-color: #077947; //#2065ae
    --main-dark-color: #056038;
    --main-light-color: #e6f1ec;
}

.bg-main {
    background-color: var(--main-color) !important;
    color: #fff;
}

.bg-main-light {
    background-color: var(--main-light-color) !important;
}

.bg-main-dark {
    background-color: var(--main-dark-color) !important;
    color: #fff;
}

.text-main,
a.text-main {
    color: var(--main-color) !important;
    text-decoration: none;
    font-size: 0.85rem;
}

a.text-main:hover {
    color: var(--main-dark-color);
    text-decoration: underline;
}

.text-main-dark {
    color: var(--main-dark-color);
}

.text-main-light {
    color: var(--main-light-color);
}

.btn-main,
.btn-main-light,
.btn-main-dark {
    font-family: 'Public Sans', sans-serif !important;
    letter-spacing: 0px !important;
}

.btn-main {
    background-color: var(--main-color) !important;
    color: #fff !important;
    height: 36px !important;
}

.btn-main:hover {
    background-color: var(--main-dark-color) !important;
    color: #fff;
}

.btn-main-light {
    background-color: var(--main-light-color) !important;
    color: var(--main-color) !important;
    height: 36px !important;
}

.btn-main-light:hover {
    background-color: var(--main-color) !important;
    color: #fff !important;
}

.btn-main-dark:hover,
.btn-main-dark {
    background-color: var(--main-dark-color);
    color: #fff;
    height: 36px !important;
}

.btn-icon {
    width: 36px !important;
    min-width: 36px !important;
    line-height: 0 !important;
    height: 36px !important;
}

.btn-icon:hover {
    width: 36px !important;
    min-width: 36px !important;
}

.btn-icon .material-symbols-rounded {
    font-size: 18px !important;
    line-height: 1 !important;
    overflow: unset;
    margin: 0 !important;
}

.page-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.page-heading .page-name {
    font-weight: 500;
}

.page-heading .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

ol.breadcrumb {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.plain-card {
    border: none !important;
    box-shadow: none !important;
}

.plain-card .card-header,
.plain-card .card-footer {
    padding: 10px 15px !important;
    font-weight: 500;
}

.plain-card .card-header-control .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.plain-card .card-body {
    padding: 15px !important;
}

.dashboard-table {
    @include mat.all-component-densities(-3);
    font-family: 'Public Sans', sans-serif !important;
    box-shadow: none;
}

.dashboard-table thead th {
    background-color: var(--main-light-color) !important;
}

.dashboard-table th,
.dashboard-table td {
    font-family: 'Public Sans', sans-serif !important;
    font-size: 0.85rem;
    vertical-align: middle;
}

.dashboard-table td button {
    @include mat.all-component-densities(-3);
}

.dashboard-table td button .material-symbols-rounded {
    font-size: 1.3rem;
    height: 18px;
}

.dashboard-table .profile-photo {
    width: 36px;
}

.modal-footer {
    font-family: 'Public Sans', sans-serif !important;
    font-size: 0.85rem;
    padding: 5px 15px !important;
}

.modal-header {
    font-family: 'Public Sans', sans-serif !important;
    font-size: 0.85rem;
    background-color: var(--main-light-color);
    padding: 5px 15px !important;
}

.mdc-dialog__title::before {
    height: 0 !important;
    display: none !important;
}

.modal-body {
    padding: 10px 15px !important;
}

button.btn-modal-close {
    @include mat.all-component-densities(-3);
    padding: 0 !important;
}

.btn-modal-close .material-symbols-rounded {
    font-size: 1.3rem !important;
    height: 18px !important;
    width: 19px !important;
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-upload .btn {
    background-color: var(--main-light-color) !important;
    letter-spacing: normal;
    font-family: 'Public Sans', sans-serif !important;
    font-size: 0.8rem;
    height: 26px !important;
    color: var(--main-color) !important;
}

.file-upload .btn-action {
    height: 26px !important;
    width: 26px !important;
    padding: 0;
    min-width: 26px !important;
}

.file-upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}














.scrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overscroll-behavior: auto;
    scrollbar-color: var(--main-color) transparent;
    // scrollbar-gutter: stable;
    scrollbar-width: thin;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:hover:focus::-webkit-scrollbar,
.scrollbar:hover:focus::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: transparent;
    height: 0.375rem;
    visibility: hidden;
    width: 0.375rem;
}

.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-corner {
    display: none;
}

.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-corner {
    display: none;
}

.scrollbar:hover::-webkit-scrollbar,
.scrollbar:hover::-webkit-scrollbar-thumb,
.scrollbar:hover:focus::-webkit-scrollbar,
.scrollbar:hover:focus::-webkit-scrollbar-thumb {
    visibility: visible;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 3px;
    visibility: hidden;
}