<table mat-table [dataSource]="tableRecords" class="dashboard-table" matSort>
    <ng-container *ngFor="let columns of displayedColumns; let j=index" matColumnDef="{{columns}}">
        <ng-container *ngIf="columns !='action'">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [class]="'srNo' == columns ? 'srno' : ''" [disabled]="'srNo' == columns ? true : false">
                {{ tableHeaders[j] }}
            </th>

            <td mat-cell *matCellDef="let element let i=index">
                <ng-container *ngIf="'srNo' ==columns">{{ ((pageNumber + 1) * 10 + i + 1)-20 }}</ng-container>
                <ng-container *ngIf="'srNo' !=columns && 'accountNo' !=columns && tableInfo?.img != columns && tableInfo?.blink != columns && tableInfo?.badge !=  columns && tableInfo?.checkBox != columns && tableInfo?.status != columns && tableInfo?.date != columns && tableInfo?.trueFalseStatus != columns">
                    {{ element[columns] | dash }}
                </ng-container>
                
                <ng-container *ngIf="tableInfo?.img == columns"><img class="table-img" src="{{element[columns] ? element[columns] : 'assets/images/user.png'}}"></ng-container>
                <ng-container *ngIf="tableInfo?.blink == columns">{{element[columns]}}</ng-container>
                <ng-container *ngIf="tableInfo?.trueFalseStatus == columns">{{element[columns] }}</ng-container>
                <ng-container *ngIf="tableInfo?.badge == columns">
                    <span *ngIf="tableInfo?.page != 'pageRegister'" [class]="element[columns] == 1 ? 'badge rounded-pill bg-success bg-opacity-25 text-success' : ( tableInfo?.badgeTitle?'':'badge rounded-pill bg-danger bg-opacity-25 text-danger')">
                        {{ element[columns] == 1 ? (tableInfo?.badgeTitle ? tableInfo?.badgeTitle : 'Active') : (tableInfo?.badgeTitle ? '' : 'InActive')}}
                    </span>

                    <span *ngIf="tableInfo?.page == 'pageRegister'" [class]="element[columns] == 'In-Use' ? 'rounded-3 small fw-bold px-2 py-1 bg-success-subtle text-success' : 'rounded-3 small fw-bold px-2 py-1 bg-danger-subtle text-danger'">
                        {{ element[columns] }}
                    </span>
                </ng-container>
                <ng-container *ngIf="tableInfo?.date == columns">
                    {{ (tableInfo?.time ? (element[columns] | date:'dd-MM-yyyy hh:mm a'):(element[columns] | date:'dd-MM-yyyy')) | dash }}</ng-container>
                <ng-container *ngIf="tableInfo?.isBlock == columns">
                    <mat-slide-toggle (change)="action(element, 'Block')">
                    </mat-slide-toggle>
                </ng-container>
            </td>
        </ng-container>
        <ng-container *ngIf="columns =='action'">
            <th mat-header-cell *matHeaderCellDef class="action">
                {{tableHeaders[j] | titlecase}}
            </th>
            <td mat-cell *matCellDef="let element let i=index">
                <div class="d-flex gap-2">
                    <button mat-icon-button *ngIf="tableInfo?.isManageAsset"
                        class="btn bg-primary bg-opacity-10 text-primary rounded edit" matTooltip="Manage asstes"
                        (click)="action(element, 'AssetManage', i)">
                        <span class="material-symbols-outlined">
                            manage_accounts
                        </span>
                    </button>
                    <button mat-icon-button *ngIf="tableInfo?.edit"
                        class="btn bg-dark bg-opacity-10 text-dark rounded edit" matTooltip="Edit"
                        (click)="action(element, 'Edit', i)">
                        <span class="material-symbols-rounded">
                            edit
                        </span>
                    </button>
                    <button mat-icon-button *ngIf="tableInfo?.add"
                        class="btn bg-dark bg-opacity-10 text-dark rounded add" matTooltip="Add"
                        (click)="action(element, 'Add', i)">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </button>
                    <button mat-icon-button *ngIf="tableInfo?.view"
                        class="btn bg-dark bg-opacity-10 text-dark rounded view" matTooltip="View"
                        (click)="action(element, 'View', i)">
                        <span class="material-symbols-outlined">
                            visibility
                        </span>
                    </button>
                    <button mat-icon-button *ngIf="tableInfo?.delete"
                        class="btn bg-danger bg-opacity-10 text-danger rounded delete" matTooltip="Delete"
                        (click)="action(element, 'Delete')" [ngClass]="{'disabled': element?.isDeleteButtonFlag== 1}">
                        <span class="material-symbols-rounded">
                            delete
                        </span>
                    </button>
                    <button mat-icon-button *ngIf="tableInfo?.download"
                        class="btn bg-primary bg-opacity-10 text-success rounded download" matTooltip="Download"
                        (click)="action(element, 'Download')">
                        <span class="material-symbols-outlined">download</span>
                    </button>
                    <button mat-icon-button *ngIf="tableInfo?.excel"
                        class="btn bg-primary bg-opacity-10 text-success rounded download" matTooltip="Download"
                        (click)="action(element, 'Excel')">
                        <span class="material-symbols-outlined">table</span>
                    </button>
                </div>
            </td>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns; let i=index"
        [ngClass]="{'highlightedRow ':highlightedRow == i, 'stripClass': even}"></tr>
</table>
<mat-paginator *ngIf="tableInfo?.tableSize > 10 && tableInfo?.pagination" showFirstLastButtons [length]="tableSize"
    (page)="action($event, 'Pagination')" [pageSizeOptions]="[10]" aria-label="Select page" class="m-0">
</mat-paginator>

<div *ngIf="tableInfo?.tableData?.length == 0">
    <div class="alert alert-danger text-center py-2 mt-1">
        <span>Data not available</span>
    </div>
</div>
